<?php TPL::output('global/header.tpl.htm'); ?>

<div class="container clearfix">
    <div class="row feed-detail">
        <div class="topic-header">
            <img class="pic" src="<?php echo G_DEMAIN.$this->topic['preview'];?>"/>
            <div class="show-detail">
                 <h1 class="topic">#<?php echo $this->topic['title'];?>#</h1>
                 <div class="topic-num">
                     <span>阅读数：<b>293283</b></span>
                     <span>讨论数：<b>3433</b></span>
                     <p class="words"><?php echo $this->topic['words'];?></p>
                 </div>
            </div>
        </div>
        <div class="col-md-9 home-index">
             <?php TPL::output('feed/create.tpl.htm'); ?>
             <?php TPL::output('feed/list.tpl.htm');?>
        </div>
        <div class="col-md-3 card">
            <div class="download">
                <div class="title">下载客户端</div>
                <img src="<?php echo G_DEMAIN;?>/static/qr.jpg"/>
                <div class="tips">模型人的交流App</div>
            </div>
            <div class="mox-star">
                <h2>模型圈推荐</h2>
                <div class="mox-star clearfix">
                    <?php foreach($this->user_list as $uinfo):?>
                    <div class="star clearfix">
                        <a target="_blank" href="<?php echo G_DEMAIN;?>/user/<?php echo $uinfo['id'];?>/">
                            <img class="avatar" src="<?php echo G_DEMAIN;?><?php echo $uinfo['avatar'];?>"/>
                        </a>
                        <div class="info">
                            <div class="user-info">
                                <span class="nick"><a target="_blank" href="<?php echo G_DEMAIN;?>/user/<?php echo $uinfo['id'];?>/"><?php echo $uinfo['user_name'];?></a></span>
                                <span class="icon-plus">关注</span>
                            </div>
                            <div class="intro"><?php echo $uinfo['intro'];?></div>
                        </div>
                    </div>
                    <?php endforeach;?>
                </div>
            </div>
            <div class="mox-hot-feed mox-mode">
                <h2 class="title">模型圈推荐</h2>
                <div class="luntan_t">
                    <ul>
                        <?php foreach($this->hot_feed as $feed):?>
                        <li><a href='<?php echo G_DEMAIN;?>/feed/<?php echo $feed['id'];?>.html' target="_blank"><?php echo summary($feed['content'], 30);?></a></li>
                        <?php endforeach;?>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<?php TPL::output('global/footer.tpl.htm'); ?>