<?php TPL::output('global/header.tpl.htm'); ?>
<div class="header-holder">
    <div class="common-header">
        <a class="back"><em class="sprite icon-back"></em></a>
        <span class="title text-ellipsis1 ">话题详情</span>
    </div>
</div>
<div class="topic-detail">
    <div class="topic-header">
        <div class="clearfix">
            <img class="pic" src="<?php echo G_DEMAIN.$this->topic['preview'];?>"/>
            <div class="show-detail clearfix">
                <h1 class="topic">#<?php echo $this->topic['title'];?>#</h1>
                <div class="topic-num">
                    <span>阅读数：<b>293283</b></span>
                    <span>讨论数：<b>34</b></span>
                </div>
            </div>
        </div>
        <div class="words"><?php echo $this->topic['words'];?></div>
    </div>
    <div class="feed-list">
        <?php foreach($this -> feed_list as $feed):?>
        <div class="feed-item clearfix">
            <div class="user-info">
                <a href="<?php echo G_DEMAIN;?>/user/<?php echo $feed['user_info']['id'];?>/"><img class="avatar" src="<?php echo G_DEMAIN.$feed['user_info']['avatar'];?>"></a>
                <a class="nick" href="<?php echo G_DEMAIN;?>/user/<?php echo $feed['user_info']['id'];?>/"><?php echo $feed['user_info']['user_name'];?></a>
                <span class="time"><?php echo date_friendly($feed['create_time']);?></span>
            </div>
            <div class="feed-content clearfix">
                <div class="text">
                    <a href="<?php echo G_DEMAIN;?>/feed/<?php echo ($feed['id']);?>.html"><?php echo $feed['content'];?></a>
                </div>
                <div class="pics clearfix">
                    <?php foreach($feed['pics'] as $key => $pic):?>
                    <?php if($key < 7):?>
                    <img src="<?php echo $pic;?>"/>
                    <?php endif;?>
                    <?php endforeach;?>
                </div>
            </div>
            <div class="user-attr clearfix">
                <span class="icon-good">赞 <?php echo $feed['like_num'];?></span>
                <span class="icon-comment">评论 <?php echo $feed['comment_num'];?></span>
            </div>
        </div>
        <?php endforeach;?>
    </div>
</div>

<?php TPL::output('global/footer.tpl.htm'); ?>