<!--底部footer-->
<div id="wrap_footer" style="text-align:left;">
    <div class="footMD"></div>
    <div id="joinTGB">
        <div class="join_container">
            <div class="left">
                <span class="join_slogan">加入“模型圈”, 与万千模型爱好者为伍！</span>
                <div class="join_btns">
                    <a class="join_btn QQjoin" href="https://graph.qq.com/oauth2.0/authorize?response_type=code&client_id=100267484&redirect_uri=<?php echo G_DEMAIN;?>/thirdQQGetToken" target="_blank">
                        <img src="<?php echo G_DEMAIN;?>/static/images/QQIcon.png">
                        <span>QQ登录</span>
                    </a>
                    <a class="join_btn WXjoin" href="https://open.weixin.qq.com/connect/qrconnect?appid=wx1c81e26d722150c4&redirect_uri=<?php echo G_DEMAIN;?>/thirdWeiXinToken&response_type=code&scope=snsapi_login" target="_blank">
                        <img src="<?php echo G_DEMAIN;?>/static/images/wxIcon.png">
                        <span>微信登录</span>
                    </a>
                    <span onclick="loginPanel()" class="join_btn TGBjoin" href="" target="_blank">

                <span>模型圈登录</span>
             </span>
                    或<a href="<?php echo G_DEMAIN;?>/user/register/" target="_blank" style="color:#FF9933;"> 注册 </a>模型圈账号
                </div>
            </div>
            <div class="tgb_icon left"></div>
            <span class="join_download left" target="_blank">扫码下载模型圈App</span>
            <div class="join_code2 left"></div>
            <div class="clear"></div>
            <div class="join_close" onclick="closeTGBjoin()"></div>
        </div>
    </div>
    <div id="footer">
        <div id="footer_container1">
            <div class="footer1 left">
                <div class="footer_title">关于我们</div>
                <span><span class="a2oo">“模型圈”</span>：万千模型爱好者聚居地。</span>
                <div class="footer_about">
                    模型圈是中国模型界的社交平台，服务于国内广大模型爱好者！每天，在模型圈上活跃着数万模型爱好者，分享丰富的模型制作、欣赏心得。
                    模型爱好者可以在这找到自己发挥的舞台，尽情享受模型带来的酸甜苦辣。在这，你更可以找到一群志同道合的朋友。
                    在模型伴你走过的岁月里，它意义非凡！
                    愿你出走半生，归来时仍是少年。而这，就是我们的初衷！
                </div>
            </div>
            <div class="footer2 left">
                <div class="footer_title">链接</div>
                <ul>
                    <li class="footer_link">
                        <a href="<?php echo G_DEMAIN;?>" target="_blank">新手上路</a>
                        <a href="<?php echo G_DEMAIN;?>" target="_blank">免责声明</a>
                    </li>
                    <li class="footer_link">
                        <a href="<?php echo G_DEMAIN;?>" target="_blank">版权声明</a>
                        <a href="<?php echo G_DEMAIN;?>" target="_blank">网站地图</a>
                    </li>
                    <li class="footer_link">
                        <a href="<?php echo G_DEMAIN;?>"  target="_blank">广告合作</a>
                        <a  href="<?php echo G_DEMAIN;?>"  target="_blank">友情链接</a>
                    </li>
                    <li class="footer_link">
                        <a href="<?php echo G_DEMAIN;?>" target="_blank">淘模型</a>
                        <a  href="<?php echo G_DEMAIN;?>"  target="_blank">模型圈官方微博</a>
                    </li>
                </ul>
            </div>
            <div class="footer3 left">
                <div class="footer_title">微信订阅</div>
                <ul>
                    <li class="footer_code" onmouseover="showFooterQrcode(this)" onmouseout="hideFooterQrcode(this)">
                        <img src="<?php echo G_DEMAIN;?>/static/images/footer_img_icon1.png" class="img_icon left" >
                        <span class="Footer_code left">模型圈主号</span>
                        <div class="clear"></div>
                        <img src="<?php echo G_DEMAIN;?>/static/qr.jpg" class="img_qrCode" >
                    </li>
                    <li class="footer_code" onmouseover="showFooterQrcode(this)" onmouseout="hideFooterQrcode(this)">
                        <img src="<?php echo G_DEMAIN;?>/static/images/footer_img_icon2.png" class="img_icon left" >
                        <span class="Footer_code left">模型圈新动态</span>
                        <div class="clear"></div>
                        <img src="<?php echo G_DEMAIN;?>/static/qr.jpg" class="img_qrCode">
                    </li>
                    <li class="footer_code" onmouseover="showFooterQrcode(this)" onmouseout="hideFooterQrcode(this)">
                        <img src="<?php echo G_DEMAIN;?>/static/images/footer_img_icon3.png" class="img_icon left" >
                        <span class="Footer_code left">模型资讯</span>
                        <div class="clear"></div>
                        <img src="<?php echo G_DEMAIN;?>/static/qr.jpg" class="img_qrCode">
                    </li>
                    <li class="footer_code" onmouseover="showFooterQrcode(this)" onmouseout="hideFooterQrcode(this)">
                        <img src="<?php echo G_DEMAIN;?>/static/images/footer_img_icon4.png" class="img_icon left" >
                        <span class="Footer_code left">模型圈热点专题</span>
                        <div class="clear"></div>
                        <img src="<?php echo G_DEMAIN;?>/static/qr.jpg" class="img_qrCode" >
                    </li>
                </ul>
            </div>
            <div class="footer5 right">
                <div class="footer_title">模型圈APP下载</div>
                <div class="join_code3"></div>
                <div class="footer3_text">iPhone & Android</div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
    <div id="footer_container2">
        <div class="footer2_container">
            <div class="left" style="margin-top:10px;">
                <p >Copyright 2018-2019 © 模型圈网络技术有限公司 版权所有 moxquan.com</p>
                <p ><a href="https://www.miibeian.gov.cn/" target="_blank" >闽ICP备34534534号-3</a>&nbsp;&nbsp;增值电信业务经营许可证：闽 B2-534534343&nbsp;&nbsp;
                    <a href="mailto:fushengqian@qq.com"  target="_blank">fushengqian@qq.com</a> &nbsp;&nbsp;<a href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=54353453445645" target="_blank" >闽公网安备 534534534534号</a>
                </p>
            </div>
            <div class="right" style="margin-right:5px;">
                <a href="https://wj.fz12315.gov.cn/"  target="_blank">
                    <img class="footer_wj" src="<?php echo G_DEMAIN;?>/static/images/fzwj.png">
                </a>
                <a href="https://www.cyberpolice.cn/" target="_blank">
                    <img class="footer_police" src="<?php echo G_DEMAIN;?>/static/images/bjt.gif" >
                </a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var Fislogin = $('.XLD_num2').length;
    var Fislogin2 = $('.logined').length;
    var Fislogin3 = $('.manage_menu').length;
    var GTBjoin_status = 'true';
    if(Fislogin==0 && Fislogin2==0 && Fislogin3==0){
        $('#joinTGB').show();
        $('#footer').css('margin-top','0px');
    }

    $(window).scroll(function(){
        if(Fislogin==0 && GTBjoin_status=='true' && Fislogin3==0){
            if(Fislogin2==0){
                $('#footer').css('margin-top','0px');
                var h1 = $('.footMD').offset().top -500;
                $('#joinTGB').show();
                if($(window).scrollTop() + 276>h1){
                    $('#joinTGB').css({'position':'relative',
                        'bottom':'0px'});
                }else{
                    $('#joinTGB').css({'position':'fixed','bottom':'0px'});
                }
            }

        }
    })

    function closeTGBjoin(){
        GTBjoin_status='false';
        $('#joinTGB').hide();
        $('#footer').css('margin-top','20px');
    }
    if(document.getElementById("gg_ad")){
        document.getElementById("gg_ad").innerHTML = document.getElementById("ad_google").innerHTML;
    }
    function showFooterQrcode(obj){
        $(obj).find('.img_qrCode').show();
    }
    function hideFooterQrcode(obj){
        $(obj).find('.img_qrCode').hide();
    }
</script>
<!--底部footer-->
</body>
</html>
<?php if(G_ONLINE):?>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?48be4751b42ca9cfb419b564abedcc8f";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<?php endif;?>
