<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <title><?php echo $this->seo['title'];?></title>
    <meta name="keywords" content="<?php echo $this->seo['keywords'];?>"/>
    <meta name="description" content="<?php echo $this->seo['description'];?>"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css?v=<?php echo G_VERSION_BUILD;?>" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/icon.css?v=<?php echo G_VERSION_BUILD;?>" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/mobile/css/base.css?v=<?php echo G_VERSION_BUILD;?>" media="screen">
    <script type="text/javascript" src="/static/js/jquery.js?v=<?php echo G_VERSION_BUILD; ?>"></script>
    <script type="text/javascript" src="/static/js/jquery.form.js?v=<?php echo G_VERSION_BUILD; ?>"></script>
    <script type="text/javascript" src="/static/js/template.js?v=<?php echo G_VERSION_BUILD; ?>"></script>
    <script type="text/javascript" src="/static/mobile/js/common.js?v=<?php echo G_VERSION_BUILD; ?>"></script>
    <script type="text/javascript" src="/static/mobile/js/fnc.js?v=<?php echo G_VERSION_BUILD; ?>"></script>
</head>
<body>