<?php TPL::output('admin/global/header.tpl.htm'); ?>
<?php TPL::output('admin/global/nav_menu.tpl.htm'); ?>

<div class="aw-content-wrap" id="user_list">
    <div class="mod">
        <div class="mod-head">
            <h3>
                <ul class="nav nav-tabs">
                    <li<?php if (!$_GET['type']) { ?> class="active"<?php } ?>><a href="<?php if ($_GET['type']) { ?>/admin/user/list/<?php } else { ?>#list<?php } ?>"<?php if (!$_GET['type']) { ?> data-toggle="tab"<?php } ?>><?php _e('用户列表'); ?></a></li>
                </ul>
            </h3>
        </div>
        <div class="tab-pane">
             <form method="get" action="/admin/user/list/" id="search_form" class="form-horizontal">
                   <input name="action" type="hidden" value="search" />
                   <div class="form-group" style="margin-top:10px;padding-left:5px;">
                        <div class="col-sm-2 col-xs-2">
                            <input class="form-control" placeholder="手机号" type="text" value="<?php echo rawurldecode($_GET['mobile']); ?>" name="mobile"/>
                        </div>
                        <div class="col-sm-2 col-xs-2">
                            <input class="form-control" placeholder="用户名" type="text" value="<?php echo $_GET['name']; ?>" name="name" />
                        </div>
                        <div class="col-sm-2 col-xs-2">
                            <input class="form-control" placeholder="email" type="text" value="<?php echo $_GET['email']; ?>" name="email" />
                        </div>
                        <div class="col-sm-2 col-xs-2">
                            <select name="order" class="form-control">
                                <option value="id" <?php if($this->orderby == 'id'):?>selected<?php endif;?>>注册时间排序</option>
                                <option value="last_login" <?php if($this->orderby == 'last_login'):?>selected<?php endif;?>>登录时间排序</option>
                                <option value="login_num" <?php if($this->orderby == 'login_num'):?>selected<?php endif;?>>登录次数排序</option>
                            </select>
                        </div>
                        <div class="col-sm-2 col-xs-2">
                            <button type="button" onclick="javascript:$('#search_form').submit();" class="btn btn-primary"><?php _e('搜索'); ?></button>
                        </div>
                    </div>
            </form>
        </div>
        <div class="mod-body tab-content">
            <div class="tab-pane active" id="list">
                <?php if ($_GET['action'] == 'search') { ?>
                <div class="alert alert-info"><?php _e('找到 %s 条符合条件的内容', intval($this->total_rows)); ?></div>
                <?php } ?>

                <div class="table-responsive">
                <?php if ($this->list) { ?>
                    <form method="post" action="admin/ajax/remove_users/" id="users_form">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th><?php _e('用户名'); ?></th>
                                <th><?php _e('手机'); ?></th>
                                <th><?php _e('邮箱'); ?></th>
                                <th><?php _e('注册时间'); ?></th>
                                <th><?php _e('最后活跃'); ?></th>
                                <th><?php _e('登录次数'); ?></th>
                                <th><?php _e('操作'); ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($this->list AS $key => $val) { ?>
                            <tr>
                                <td><?php echo $val['id']; ?></td>
                                <td><?php echo $val['user_name']; ?><?php if ($val['forbidden']) { ?><span class="text-color-999">[ <?php _e('封禁'); ?> ]</span><?php } ?></td>
                                <td><?php echo $val['phone']; ?></td>
                                <td><?php echo $val['email'] ? $val['email'] : '未填写'; ?></td>
                                <td><?php echo date_friendly($val['reg_time']); ?></td>
                                <td><?php if ($val['last_login']) { ?><?php echo date_friendly($val['last_login']); ?><?php } else { ?> - <?php } ?></td>
                                <td><?php echo $val['login_num']; ?></td>
                                <td class="nowrap">
                                    <a href="/admin/farm/list/?id=<?php echo $val['farm_id'];?>" class="icon icon-user md-tip" title="查看商户"></a>
                                    <a target="_blank" href="/admin/user/delete/?id=<?php echo $val['id'];?>" class="icon icon-delete md-tip" title="删除用户"></a>
                                </td>
                            </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                    </form>
                <?php } ?>
                </div>

                <div class="mod-table-foot">
                    <div class="col-xs-12 col-sm-8">
                        <?php echo $this->pagination; ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php TPL::output('admin/global/footer.tpl.htm'); ?>