<?php TPL::output('global/header.tpl.htm'); ?>

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="bbox bbox050">
                <div class="page-header">
                    <h1>用户注册</h1>
                </div>
                <div class="bc">
                    <form id="register_form" method="post" onsubmit="return false" action="<?php echo G_DEMAIN;?>/user/ajax/register_process/">
                        <div class="form-group">
                            <label><span class="need">*</span>手机号</label>
                            <input name="phone" type="phone" class="form-control rounded-0" placeholder="手机号" check-type="required">
                        </div>
                        <div class="form-group">
                            <label><span class="need">*</span>密码：</label>
                            <input name="password" type="password" class="form-control rounded-0" placeholder="密码" check-type="required">
                        </div>
                        <div class="form-group">
                            <label><span class="need">*</span>重复密码：</label>
                            <input name="repassword" type="password" class="form-control rounded-0" placeholder="重复密码" check-type="required">
                        </div>
                        <div class="form-group">
                            <label><span class="need">*</span>昵称：</label>
                            <input name="user_name" type="text" class="form-control rounded-0" placeholder="昵称" check-type="required">
                        </div>
                        <div class="form-group">
                            <label><span class="need">*</span>验证码：</label>
                            <input name="seccode_verify" type="text" class="form-control rounded-0" placeholder="" check-type="required">
                            <img id="captcha" onclick="javascript:this.src='<?php echo G_DEMAIN;?>/user/captcha/?v='+Math.floor(Math.random()*10000)+'/';" src="<?php echo G_DEMAIN;?>/user/captcha/?v=<?php echo time();?>/">
                        </div>
                        <div class="form-group">
                            <button id="do_register" type="button" onclick="FNC.ajax_post($('#register_form'), FNC.ajax_processer, 'error_message'); return false;" class="btn btn-fat btn-success btn-lg btn-block br0">注册</button>
                        </div>
                    </form>
                    <p><a href="<?php echo G_DEMAIN;?>/user/login/">已有账号？</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<?php TPL::output('global/footer.tpl.htm'); ?>