<?php TPL::output('admin/global/header.tpl.htm'); ?>
<?php TPL::output('admin/global/nav_menu.tpl.htm'); ?>
<div class="aw-content-wrap">
    <div class="mod">
        <div class="mod-head">
            <span class="pull-left">动态列表</span>
        </div>
        <div class="tab-pane">
             <form method="get" action="/admin/feed/index/" id="search_form" class="form-horizontal">
                   <div class="form-group" style="margin-top:10px;padding-left:5px;">
                        <div class="col-sm-2 col-xs-2">
                            <input class="form-control" placeholder="关键词" type="text" value="<?php echo rawurldecode($_GET['keyword']); ?>" name="keyword"/>
                        </div>
                        <div class="col-sm-2 col-xs-2">
                            <button type="button" onclick="javascript:$('#search_form').submit();" class="btn btn-primary"><?php _e('搜索'); ?></button>
                        </div>
                    </div>
            </form>
        </div>
        <div class="mod-body tab-content">
            <div class="tab-pane active" id="list">
                <div class="table-responsive">
                <?php if ($this->list) { ?>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>用户</th>
                                <th>内容</th>
                                <th>推荐</th>
                                <th>时间</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($this->list AS $key => $val) { ?>
                            <tr>
                                <td><?php echo $val['id']; ?></td>
                                <td><a target="_blank" href="/user/<?php echo $val['user_info']['id']; ?>/"><?php echo $val['user_info']['user_name']; ?></a></td>
                                <td><a target="_blank" href="<?php echo G_DEMAIN; ?>/feed/<?php echo $val['id'];?>.html"><?php echo summary($val['content'], 45); ?></a></td>
                                <?php if($val['is_home']) :?>
                                <td style="color:red;">是</td>
                                <?php else:?>
                                <td>否</td>
                                <?php endif;?>
                                <td><?php echo date_friendly($val['create_time']);?></td>
                                <td>
                                    <a onclick="AWS.dialog('confirm', {'message': '<?php _e('确认删除该动态?'); ?>'}, function(){window.location = '<?php echo G_DEMAIN;?>/admin/feed/delete/id-<?php echo $val['id']; ?>/'}); return false;" class="icon icon-trash md-tip" title="<?php _e('删除'); ?>"></a>
                                    <a onclick="AWS.dialog('confirm', {'message': '<?php _e('确认推荐该动态?'); ?>'}, function(){window.location = '<?php echo G_DEMAIN;?>/admin/feed/recommend/id-<?php echo $val['id']; ?>/'}); return false;" class="icon icon-good md-tip" title="<?php _e('推荐'); ?>"></a>
                                </td>
                            </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                <?php } ?>
                </div>
                <div class="mod-table-foot">
                     <span><?php echo $this -> total_rows;?>条数据，共<?php echo ceil($this -> total_rows/20);?>页</span><span class="pull-right mod-page"><?php echo $this->pagination; ?></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="<?php echo G_STATIC_URL; ?>/js/bootstrap.min.js"></script>
<script type="text/javascript">
   $(".recommend").bind('click', function(){
       $("#id").val($(this).attr("id"));
   });
</script>
<?php TPL::output('admin/global/footer.tpl.htm'); ?>