<?php TPL::output('global/header_nav.tpl.htm');?>
<div class="article">
    <div>
        <a href="<?php echo G_DEMAIN;?>">模型圈</a> &gt; 正文
    </div>
    <div class="article-content clearfix">
         <div class="left-side">
             <div class="article-title">
                 <?php if(G_ONLINE):?>
                 <div class="clearfix income">
                 <script>
                    var mediav_ad_pub = '8cmwYE_2253466';
                    var mediav_ad_width = '950';
                    var mediav_ad_height = '90';
                 </script>
                 <script type="text/javascript" language="javascript" charset="utf-8"  src="//static.mediav.com/js/mvf_g2.js"></script>
                 </div>
                 <?php endif; ?>
                 <h1><?php echo $this->info['title'];?></h1>
                 <div class="info">
                     <span>来源：<?php echo $this->info['from'];?></span>
                     <span>阅读数：<?php echo $this->info['read'];?></span>
                     <span>时间：<?php echo date("Y-m-d", $this->info['create_time']);?></span>
                     <?php if($this -> user_info) {?>
                     <span><a href="<?php echo G_DEMAIN;?>/article/publish/id-<?php echo $this->info['id'];?>/">编辑</a></span>
                     <span><a href="<?php echo G_DEMAIN;?>/article/delete/id-<?php echo $this->info['id'];?>/">删除</a></span>
                     <?php } ?>
                 </div>
                 <div class="socialShare clearfix">
                     <div class="social-title">一键分享：</div>
                     <div class="social-group">
                         <a target="_blank" href="<?php echo $this->share['weixin'];?>" title="分享到微信" class="msb_network_button weixin"></a>
                         <a target="_blank" href="<?php echo $this->share['weibo'];?>" title="分享到微博" class="msb_network_button sina"></a>
                         <a target="_blank" href="<?php echo $this->share['qq'];?>" title="分享到QQ空间" class="msb_network_button qZone"></a>
                         <a target="_blank" href="<?php echo $this->share['douban'];?>" title="分享到豆瓣网" class="msb_network_button douban"></a>
                     </div>
                 </div>
             </div>
             <div class="content-main">
                  <div class="article-content">
                      <?php echo $this->info['content'];?>
                  </div>
                  <?php if($this->is_preview):?>
                  <div class="bottom-mod to-preview">
                       <a class="fr btn btn-primary" href="<?php echo G_DEMAIN;?>/article/publish/id-<?php echo $this->info['id'];?>/">《返回编辑</a>
                  </div>
                  <?php else:?>
                  <div class="comment-list">
                     <div class="title">回复/留言</div>
                     <?php if($this -> comment_list):?>
                     <div class="dp-list">
                         <ul class="clearfix">
                             <?php foreach($this -> comment_list as $comment):?>
                             <li class="dp-item">
                                 <div class="avatar">
                                     <img src="<?php echo $comment['user_info']['avatar'];?>" alt="<?php echo $comment['user_info']['user_name'];?>">
                                 </div>
                                 <div class="infod clearfix">
                                     <a href="javascript:;" class="name"><?php echo $comment['user_info']['user_name'];?></a>
                                     <span class="date"><?php echo date("Y-m-d H:i:s", $comment['create_time']);?></span>
                                     <p class="comments"><?php echo $comment['content'];?></p>
                                 </div>
                             </li>
                             <?php endforeach;?>
                         </ul>
                     </div>
                     <?php else:?>
                     <p class="nodata">暂时还没有人评价哦...</p>
                     <?php endif; ?>
                 </div>
                  <div class="add-comment">
                     <form id="comment" method="post" action="/common/ajax/do_comment/" onsubmit="return false;">
                         <div class="title">回复/留言</div>
                         <input type="hidden" name="type" value="2"/>
                         <input type="hidden" name="farm_id" value="<?php echo encode($this->info['id']);?>"/>
                         <div class="review-item item-comment">
                             <div class="review-content">
                                 <textarea data-maxlen="1000" placeholder="字数不少于5个，回复或留言，ta会第一时间回复您哦！" name="content"></textarea>
                                 <div class="publish-action">
                                      <a class="btn btn-primary btn-danger" onclick="FNC.ajax_post($('#comment'), FNC.ajax_processer, 'error_message');">提交点评</a>
                                 </div>
                             </div>
                         </div>
                     </form>
                 </div>
                  <?php endif;?>
             </div>
         </div>
         <div class="right-side clearfix">
            <?php if(G_ONLINE):?>
            <div class="income">
                <script>
                var mediav_ad_pub = 'c99SyU_2255727';
                var mediav_ad_width = '282';
                var mediav_ad_height = '600';
                </script>
                <script type="text/javascript" language="javascript" charset="utf-8"  src="//static.mediav.com/js/mvf_g2.js"></script>
            </div>
            <?php endif; ?>
            <?php if($this -> recommend_list):?>
            <div class="recommend-list">
                <div class="a-title">好玩推荐</div>
                <?php foreach($this -> recommend_list as $newk => $new):?>
                <div class="jd-item <?php if($newk == 4){echo 'noborder';}?>">
                     <a target="_blank" href="<?php echo $new['url'];?>">
                        <img alt="<?php echo $new['name'];?>" src="<?php echo $new['preview'];?>"/>
                        <div class="item-info">
                             <span><?php echo summary($new['name'], 15);?></span>
                             <p class="tags">
                             <?php foreach($new['tags'] as $k => $tag):?>
                                <?php if($k < 3):?>
                                <span class="kk<?php echo $k;?>"><?php echo $tag;?></span>
                                <?php endif;?>
                                <?php endforeach;?>
                             </p>
                        </div>
                     </a>
                </div>
                <?php endforeach;?>
            </div>
            <?php endif; ?>
            <div class="article-list">
                 <div class="a-title">相关资讯</div>
                 <?php foreach($this -> article_list as $article):?>
                 <a title="<?php echo $article['title'];?>" target="_blank" href="<?php echo $article['url'];?>"><i></i><?php echo summary($article['title'], 20);?></a>
                 <?php endforeach;?>
            </div>
         </div>
    </div>
</div>
<div class="modal" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">恭喜！发布成功！将它分享到微信、微博、QQ空间...</h4>
            </div>
            <div class="modal-body">
                <div class="socialShare clearfix">
                    <div class="social-group">
                        <a target="_blank"  href="<?php echo $this->share['weixin'];?>" title="分享到微信" class="msb_network_button weixin"></a>
                        <a target="_blank"  href="<?php echo $this->share['weibo'];?>" title="分享到微博" class="msb_network_button sina"></a>
                        <a target="_blank"  href="<?php echo $this->share['qq'];?>" title="分享到QQ空间" class="msb_network_button qZone"></a>
                        <a target="_blank"  href="<?php echo $this->share['douban'];?>" title="分享到豆瓣网" class="msb_network_button douban"></a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<?php TPL::output('global/footer_meta.tpl.htm');?>
<script type="text/javascript">
    //让文章图片居中对齐
    $('.content-main').find('img').parent().css('text-align', 'center');
    <?php if($this->is_new):?>
    $(function() {
        $('#shareModal').modal('show');
    });
    <?php endif;?>
</script>