<?php TPL::output('global/header.tpl.htm'); ?>
<?php foreach($this->msg_list as $msg):?>
<div class="my-list my-feed">
    <?php if($msg['url']):?>
    <a href="<?php echo $msg['url'];?>"><em class="icon-log"></em><?php echo summary($msg['content'], 22);?></a>
    <?php else :?>
    <em class="icon-log"></em><?php echo $msg['content'];?>
    <?php endif;?>
    <em class="sprite icon-go"></em>
</div>
<?php endforeach;?>
<div class="app-tab">
    <div class="app-item">
        <a href="/"><img class="t-icon" src="/static/mobile/image/tab_0_off.png"/></a>
        <div class="the"><a href="/">首页</a></div>
    </div>
    <div class="app-item">
        <a href="/home/"><img class="t-icon" src="/static/mobile/image/tab_1_off.png"/></a>
        <div class="the"><a href="/home/">社区</a></div>
    </div>
    <div class="app-item">
        <img class="t-icon" src="/static/mobile/image/tab_add.png"/>
        <div class="the">发布</div>
    </div>
    <div class="app-item">
        <a href="/message/index/"><img class="t-icon" src="/static/mobile/image/tab_2_on.png"/></a>
        <div class="the"><a href="/message/index/">消息</a></div>
    </div>
    <div class="app-item">
        <a href="/user/index/"><img class="t-icon" src="/static/mobile/image/tab_3_off.png"/></a>
        <div class="the"><a href="/user/index/">我的</a></div>
    </div>
</div>
<?php TPL::output('global/footer.tpl.htm'); ?>