<?php TPL::output('admin/global/header.tpl.htm'); ?>
<?php TPL::output('admin/global/nav_menu.tpl.htm'); ?>

<div class="aw-content-wrap">
    <form action="admin/ajax/save_settings/" id="settings_form" method="post" onsubmit="return false">
    <div class="mod">
        <?php if ($_GET['category'] == 'site') { ?>
        <div class="mod-head">
            <h3>
                <span class="pull-left"><?php _e('站点信息'); ?></span>

                <span class="pull-right"><a href="javascript:;" onclick="MOX.ajax_post($('#settings_form'));" class="btn btn-xs btn-primary mod-site-save"><?php _e('快速保存'); ?></a></span>
            </h3>
        </div>
        <div class="tab-content mod-content">
            <table class="table table-striped">
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('网站名称'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input type="text" class="form-control" name="site_name" value="<?php echo $this->setting['site_name']; ?>">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('网站简介'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <textarea class="form-control textarea" rows="4" name="description"  ><?php echo $this->setting['description']; ?></textarea>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('网站关键词'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <textarea class="form-control textarea" rows="4" name="keywords"  ><?php echo $this->setting['keywords']; ?></textarea>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('网站 ICP 备案号'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="icp_beian" class="form-control" type="text" value="<?php echo $this->setting['icp_beian']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('上传目录外部访问 URL 地址'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="upload_url" class="form-control" type="text" value="<?php echo $this->setting['upload_url']; ?>"/>
                                <span class="help-block"><?php _e('末尾不带 / 或 \\'); ?></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('上传文件存放绝对路径'); ?></span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="upload_dir" class="form-control" type="text" value="<?php echo $this->setting['upload_dir']; ?>"/>

                                <span class="help-block"><?php _e('末尾不带 / 或 \，目前网站根目录绝对路径：'); echo ROOT_PATH; ?></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('static 目录资源 URL 地址'); ?></span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="img_url" class="form-control" type="text" value="<?php echo $this->setting['img_url']; ?>"/>

                                <span class="help-block"><?php _e('末尾不带 / 或 \，留空使用根目录下的 static 资源'); ?></span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <?php } else if ($_GET['category'] == 'pay') {?>
        <div class="mod-head">
            <h3>
                <span class="pull-left"><?php _e('支付设置'); ?></span>
                <span class="pull-right"><a href="javascript:;" onclick="MOX.ajax_post($('#settings_form'));" class="btn btn-xs btn-primary mod-site-save"><?php _e('快速保存'); ?></a></span>
            </h3>
        </div>
        <div class="tab-content mod-content">
            <table class="table table-striped">
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-3 col-xs-3 control-label"><?php _e('在线支付'); ?>:</span>
                            <div class="col-sm-8 col-xs-8">
                                <label class="checkbox-inline"><input type="radio" name="online_pay" value="Y" <?php if ($this->setting['online_pay'] == 'Y') { ?> checked="checked"<?php } ?>/>支持</label>
                                <label class="checkbox-inline"><input type="radio" name="online_pay" value="N" <?php if ($this->setting['online_pay'] == 'N') { ?> checked="checked"<?php } ?>/>不支持</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-3 col-xs-3 control-label"><?php _e('上门支付'); ?>:</span>
                            <div class="col-sm-8 col-xs-8">
                                <label class="checkbox-inline"><input type="radio" name="offline_pay" value="Y" <?php if ($this->setting['offline_pay'] == 'Y') { ?> checked="checked"<?php } ?>/>支持</label>
                                <label class="checkbox-inline"><input type="radio" name="offline_pay" value="N" <?php if ($this->setting['offline_pay'] == 'N') { ?> checked="checked"<?php } ?>/>不支持</label>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <?php } else if ($_GET['category'] == 'mox') { ?>
        <div class="mod-head">
            <h3>
                <span class="pull-left"><?php _e('农庄信息'); ?></span>
                <span class="pull-right"><a href="javascript:;" onclick="MOX.ajax_post($('#settings_form'));" class="btn btn-xs btn-primary mod-site-save"><?php _e('快速保存'); ?></a></span>
            </h3>
        </div>
        <div class="tab-content mod-content">
            <table class="table table-striped">
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('中文名称'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input type="text" class="form-control" name="mox_name_cn" value="<?php echo $this->setting['mox_name_cn']; ?>">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('英文名称'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input type="text" class="form-control" name="mox_name_en" value="<?php echo $this->setting['mox_name_en']; ?>">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('座机电话'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                               <input name="mox_tell" class="form-control" type="text" value="<?php echo $this->setting['mox_tel']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('负责人姓名'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="mox_manager" class="form-control" type="text" value="<?php echo $this->setting['mox_manager']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('负责人手机'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="mox_manager_mobile" class="form-control" type="text" value="<?php echo $this->setting['mox_manager_mobile']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('农庄简介'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <textarea class="form-control textarea" rows="6" name="mox_description"  ><?php echo $this->setting['mox_description']; ?></textarea>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('农庄地址'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="mox_address" class="form-control" type="text" value="<?php echo $this->setting['mox_address']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('自驾线路'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <textarea class="form-control textarea" rows="6" name="mox_drive_route"  ><?php echo $this->setting['mox_drive_route']; ?></textarea>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('公交线路'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <textarea class="form-control textarea" rows="6" name="mox_transit_route"  ><?php echo $this->setting['mox_transit_route']; ?></textarea>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <?php } else if ($_GET['category'] == 'functions') { ?>
        <div class="mod-head">
            <h3>
                <span class="pull-left"><?php _e('站点功能'); ?></span>
                <span class="pull-right"><a href="javascript:;" onclick="MOX.ajax_post($('#settings_form'));" class="btn btn-xs btn-primary mod-site-save"><?php _e('快速保存'); ?></a></span>
            </h3>
        </div>
        <div class="tab-content mod-content">
            <table class="table table-striped">
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('网站公告'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <textarea class="form-control textarea" name="site_announce"  ><?php echo htmlspecialchars($this->setting['site_announce']); ?></textarea>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('开启 Rewrite 伪静态'); ?>:</span>
                            <div class="col-sm-6 col-xs-8">
                                <div class="btn-group mod-btn">
                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="url_rewrite_enable" value="Y"<?php if ($this->setting['url_rewrite_enable'] == 'Y') { ?> checked="checked"<?php } ?> /> <?php _e('是'); ?>
                                    </label>
                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="url_rewrite_enable" value="N"<?php if ($this->setting['url_rewrite_enable'] != 'Y') { ?> checked="checked"<?php } ?> /> <?php _e('否'); ?>
                                    </label>
                                    <span class="help-block"><?php _e('Rewrite 开启方法请见 ReadMe 说明文件'); ?></span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-2 col-xs-3 control-label"><?php _e('URL 链接显示样式'); ?>:</span>
                            <div class="col-sm-10 col-xs-12">
                                <ul class="mod-site-url">
                                    <li>
                                        <span class="pull-left"><a href="javascript:;" onclick='$("#request_route_custom").val("/account/login/===/login/\n/account/logout/===/logout/\n/account/setting/(:any)/===/setting/(:any)/")'>[ <?php _e('获取规则'); ?> ]</a></span>
                                        <p class="pull-left">
                                            <?php echo base_url(); ?>/question/123<br /><?php echo base_url(); ?>/topic/123<br /><?php echo base_url(); ?>/people/anwsion<br /><?php echo base_url(); ?>/category/123
                                        </p>
                                    </li>
                                    <li>
                                        <span class="pull-left"><a href="javascript:;" onclick='$("#request_route_custom").val("/question/(:any)===/q_(:any)\n/topic/(:any)===/t_(:any).html\n/people/(:any)===/p_(:any).html\n/account/login/===/login/\n/account/logout/===/logout/\n/account/setting/(:any)/===/setting/(:any)/");'>[ <?php _e('获取规则'); ?> ]</a></span>
                                        <p class="pull-left">
                                            <?php echo base_url(); ?>/q_123.html
                                            <br />
                                            <?php echo base_url(); ?>/t_话题.html
                                            <br />
                                            <?php echo base_url(); ?>/p_admin.html
                                            <br />
                                            <?php echo base_url(); ?>/c_123.html
                                        </p>
                                    </li>
                                    <li class="mod-site-rule">
                                        <span class="pull-left"><?php _e('自定义路由'); ?></span>
                                        <div class="pull-left col-sm-8">
                                            <textarea class="form-control textarea" name="request_route_custom" id="request_route_custom" rows="4" cols="63"><?php echo $this->setting['request_route_custom']; ?></textarea>
                                        </div>
                                        <div class="help-block">
                                            <?php _e('此模式只有开启 Rewrite 后有效, 请填写简略正则表达式, 每行一条规则, 中间使用 === 隔开, 左边为站点默认 URL 模式, 右边为替换后的 URL 模式, 链接以 / 开头, (:num) 代表数字, (:any) 代表任意字符<br />如替换问题规则：<br />/question/(:any)===/q_(:any)<br />(!) 警告: 使用此功能之前请确定你对替换有所把握, 错误的规则将导致站点不能运行'); ?>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('通知未读数刷新间隔时间'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="unread_flush_interval" class="form-control" type="text" value="<?php echo $this->setting['unread_flush_interval']; ?>"/>

                                <div class="help-block"><?php _e('单位'); ?>: <?php _e('秒'); ?></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('问题自动锁定时间'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="auto_question_lock_day" class="form-control" type="text" value="<?php echo $this->setting['auto_question_lock_day']; ?>"/>

                                <div class="help-block"><?php _e('单位'); ?>: <?php _e('天'); ?>, <?php _e('问题超过设定天数没有动作,系统则会自动锁定该问题, 设置为 0 则关闭自动锁定'); ?></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('网站统计代码'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <textarea class="form-control textarea" name="statistic_code" rows="9"><?php echo $this->setting['statistic_code']; ?></textarea>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('问题举报理由选项'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <textarea class="form-control textarea" name="report_reason" rows="5" ><?php echo get_setting('report_reason'); ?></textarea>

                                <div class="help-block"><?php _e('每行填写一个举报理由'); ?></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('有新举报与认证申请私信提醒用户 ID'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="report_message_uid" class="form-control" type="text" value="<?php echo $this->setting['report_message_uid']; ?>"/>

                                <div class="help-block"><?php _e('留空则发送到 ID 为 1 的用户'); ?></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('系统时间显示格式'); ?>:</span>
                            <div class="col-sm-6 col-xs-8">
                                <label><input type="radio" name="time_style" value="Y"<?php if ($this->setting['time_style'] == 'Y') { ?> checked="checked"<?php } ?> /> <?php _e('xx 分钟前形式'); ?></label>
                                <label class="col-md-offset-1"><input type="radio" name="time_style" value="N"<?php if ($this->setting['time_style'] != 'Y') { ?> checked="checked"<?php } ?> /> <?php _e('完整日期形式'); ?></label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('管理员后台登录是否需要验证码'); ?>:</span>
                            <div class="col-sm-6 col-xs-8">
                                <div class="btn-group mod-btn">
                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="admin_login_seccode" value="Y"<?php if ($this->setting['admin_login_seccode'] == 'Y') { ?> checked="checked"<?php } ?> /> <?php _e('是'); ?>
                                    </label>

                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="admin_login_seccode" value="N"<?php if ($this->setting['admin_login_seccode'] != 'Y') { ?> checked="checked"<?php } ?> /> <?php _e('否'); ?>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('发送诊断数据帮助改善产品'); ?>:</span>
                            <div class="col-sm-6 col-xs-8">
                                <div class="btn-group mod-btn">
                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="report_diagnostics" value="Y"<?php if ($this->setting['report_diagnostics'] == 'Y') { ?> checked="checked"<?php } ?> /> <?php _e('是'); ?>
                                    </label>

                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="report_diagnostics" value="N"<?php if ($this->setting['report_diagnostics'] != 'Y') { ?> checked="checked"<?php } ?> /> <?php _e('否'); ?>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <?php } else if ($_GET['category'] == 'contents') { ?>
        <div class="mod-head">
            <h3>
                <span class="pull-left"><?php _e('内容设置'); ?></span>

                <span class="pull-right"><a href="javascript:;" onclick="MOX.ajax_post($('#settings_form'));" class="btn btn-xs btn-primary mod-site-save"><?php _e('快速保存'); ?></a></span>
            </h3>
        </div>
        <div class="tab-content mod-content">
            <table class="table table-striped">
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('编辑器设置'); ?>:</span>
                            <div class="col-sm-6 col-xs-8">
                                <label><input type="radio" name="advanced_editor_enable" value="Y"<?php if ($this->setting['advanced_editor_enable'] == 'Y') { ?> checked="checked"<?php } ?> /> <?php _e('CKEditor 编辑器'); ?></label>
                                <label class="col-md-offset-1"><input type="radio" name="advanced_editor_enable" value="N"<?php if ($this->setting['advanced_editor_enable'] != 'Y') { ?> checked="checked"<?php } ?> /> <?php _e('纯文本编辑器'); ?></label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('允许上传附件'); ?>:</span>
                            <div class="col-sm-6 col-xs-8">
                                <div class="btn-group mod-btn">
                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="upload_enable" value="Y"<?php if ($this->setting['upload_enable'] == 'Y') { ?> checked="checked"<?php } ?> /> <?php _e('是'); ?>
                                    </label>

                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="upload_enable" value="N"<?php if ($this->setting['upload_enable'] != 'Y') { ?> checked="checked"<?php } ?> /> <?php _e('否'); ?>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('允许的附件文件类型'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="allowed_upload_types" class="form-control" type="text" value="<?php echo $this->setting['allowed_upload_types']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('允许上传最大附件大小'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="upload_size_limit" class="form-control" type="text" value="<?php echo $this->setting['upload_size_limit']; ?>"/>

                                <div class="help-block"><?php _e('单位'); ?>: KB</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('允许上传最大头像图片大小'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="upload_avatar_size_limit" type="text" class="form-control" value="<?php echo $this->setting['upload_avatar_size_limit']; ?>"/>
                                <div class="help-block"><?php _e('单位'); ?>: KB</div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <?php } else if ($_GET['category'] == 'integral') { ?>
        <div class="mod-head">
            <h3>
                <span class="pull-left"><?php _e('积分设置'); ?></span>
                <span class="pull-right"><a href="javascript:;" onclick="MOX.ajax_post($('#settings_form'));" class="btn btn-xs btn-primary mod-site-save"><?php _e('快速保存'); ?></a></span>
            </h3>
        </div>
        <div class="tab-content mod-content">
            <table class="table table-striped">
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('使用积分功能'); ?>:</span>
                            <div class="col-sm-6 col-xs-8">
                                <div class="btn-group mod-btn">
                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="integral_system_enabled" value="Y"<?php if ($this->setting['integral_system_enabled'] == 'Y') { ?> checked="checked"<?php } ?> /> <?php _e('是'); ?>
                                    </label>
                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="integral_system_enabled" value="N"<?php if ($this->setting['integral_system_enabled'] != 'Y') { ?> checked="checked"<?php } ?> /> <?php _e('否'); ?>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('积分单位'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="integral_unit" type="text" class="form-control" value="<?php echo $this->setting['integral_unit']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('新用户注册默认拥有积分'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="integral_system_config_register" type="text" class="form-control" value="<?php echo $this->setting['integral_system_config_register']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <?php } else if ($_GET['category'] == 'mail') { ?>
        <div class="mod-head">
            <h3>
                <span class="pull-left"><?php _e('邮件设置'); ?></span>
                <span class="pull-right"><a href="javascript:;" onclick="MOX.ajax_post($('#settings_form'));" class="btn btn-xs btn-primary mod-site-save"><?php _e('快速保存'); ?></a></span>
            </h3>
        </div>
        <div class="tab-content mod-content">
            <table class="table table-striped">
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('系统邮件发送方式'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <select class="form-control" name="mail_config[transport]">
                                    <option value="sendmail"<?php if ($this->setting['mail_config']['transport'] == 'sendmail') { ?> selected="selected"<?php } ?>><?php _e('通过 PHP 的 Sendmail 发送'); ?></option>
                                    <option value="smtp"<?php if ($this->setting['mail_config']['transport'] == 'smtp') { ?> selected="selected"<?php } ?>><?php _e('通过 SOCKET 连接 SMTP 服务器发送'); ?></option>
                                </select>
                                <div class="help-block"><?php _e('若选择 SendMail 方式, 下面的 SMTP 选项无效'); ?></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('邮件编码'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="mail_config[charset]" type="text" class="form-control" value="<?php echo $this->setting['mail_config']['charset']; ?>" />

                                <div class="help-block"><?php _e('非 UTF-8 编码会被自动转码'); ?></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('主 SMTP 服务器'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="mail_config[server]" type="text" class="form-control" value="<?php echo $this->setting['mail_config']['server']; ?>" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('使用安全链接(SSL)连接主服务器'); ?>:</span>
                            <div class="col-sm-6 col-xs-8">
                                <div class="btn-group mod-btn">
                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="mail_config[ssl]" value="1"<?php if ($this->setting['mail_config']['ssl'] == 1) { ?> checked="checked"<?php } ?> /> <?php _e('是'); ?>
                                    </label>
                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="mail_config[ssl]" value="0"<?php if ($this->setting['mail_config']['ssl'] == 0) { ?> checked="checked"<?php } ?> /> <?php _e('否'); ?>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('主 SMTP 端口'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="mail_config[port]" type="text" class="form-control" value="<?php echo $this->setting['mail_config']['port']; ?>" />

                                <div class="help-block"><?php _e('留空时默认服务器端口为 25，使用 SSL 协议默认端口为 465，详细参数请询问邮箱服务商'); ?></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('主 SMTP 帐户'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="mail_config[username]" type="text" class="form-control" value="<?php echo $this->setting['mail_config']['username']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('主 SMTP 密码'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="mail_config[password]" type="password" class="form-control" value="<?php echo $this->setting['mail_config']['password']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <?php if (!defined('IN_SAE')) { ?>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('次 SMTP 服务器'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="slave_mail_config[server]" type="text" class="form-control" value="<?php echo $this->setting['slave_mail_config']['server']; ?>" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('使用安全链接(SSL)连接次服务器'); ?>:</span>
                            <div class="col-sm-6 col-xs-8">
                                <div class="btn-group mod-btn">
                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="slave_mail_config[ssl]" value="1"<?php if ($this->setting['slave_mail_config']['ssl'] == 1) { ?> checked="checked"<?php } ?> /> <?php _e('是'); ?>
                                    </label>

                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="slave_mail_config[ssl]" value="0"<?php if ($this->setting['slave_mail_config']['ssl'] == 0) { ?> checked="checked"<?php } ?> /> <?php _e('否'); ?>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('次 SMTP 端口'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="slave_mail_config[port]" type="text" class="form-control" value="<?php echo $this->setting['slave_mail_config']['port']; ?>" />

                                <div class="help-block"><?php _e('留空时默认服务器端口为 25，使用 SSL 协议默认端口为 465，详细参数请询问邮箱服务商'); ?></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('次 SMTP 帐户'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="slave_mail_config[username]" type="text" class="form-control" value="<?php echo $this->setting['slave_mail_config']['username']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('次 SMTP 密码'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="slave_mail_config[password]" type="password" class="form-control" value="<?php echo $this->setting['slave_mail_config']['password']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <?php } ?>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('系统邮件来源邮箱地址'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="from_email" type="text" class="form-control" value="<?php echo $this->setting['from_email']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <?php } else if ($_GET['category'] == 'openid') { ?>
        <div class="mod-head">
            <h3>
                <span class="pull-left"><?php _e('开放平台'); ?></span>

                <span class="pull-right"><a href="javascript:;" onclick="MOX.ajax_post($('#settings_form'));" class="btn btn-xs btn-primary mod-site-save"><?php _e('快速保存'); ?></a></span>
            </h3>
        </div>
        <div class="tab-content mod-content">
            <table class="table table-striped">
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('开启 QQ 登录功能'); ?>:</span>
                            <div class="col-sm-6 col-xs-8">
                                <div class="btn-group mod-btn">
                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="qq_login_enabled" value="Y"<?php if ($this->setting['qq_login_enabled'] == 'Y') { ?> checked="checked"<?php } ?>/> <?php _e('是'); ?>
                                    </label>

                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="qq_login_enabled" value="N"<?php if ($this->setting['qq_login_enabled'] != 'Y') { ?> checked="checked"<?php } ?>/> <?php _e('否'); ?>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('QQ 登录 AppID'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="qq_login_app_id" type="text" class="form-control" value="<?php echo $this->setting['qq_login_app_id']; ?>"/>

                                <span class="help-block"><?php _e('AppID 与 APPKey 需要到 <a href="http://connect.qq.com/" target="_blank">QQ 互联开放平台</a> 申请 (注意: 请申请网站不要申请应用)'); ?></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('QQ 登录 AppKey'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="qq_login_app_key" type="text" class="form-control" value="<?php echo $this->setting['qq_login_app_key']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('开启微博登录功能'); ?>:</span>
                            <div class="col-sm-6 col-xs-8">
                                <div class="btn-group mod-btn">
                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="sina_weibo_enabled" value="Y"<?php if ($this->setting['sina_weibo_enabled'] == 'Y') { ?> checked="checked"<?php } ?>/> <?php _e('是'); ?>
                                    </label>

                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="sina_weibo_enabled" value="N"<?php if ($this->setting['sina_weibo_enabled'] != 'Y') { ?> checked="checked"<?php } ?>/> <?php _e('否'); ?>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label textwrap"><?php _e('微博 App Key'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="sina_akey" type="text" class="form-control" value="<?php echo $this->setting['sina_akey']; ?>"/>

                                <span class="help-block"><?php _e('AppKey 需要到 <a href="http://open.weibo.com" target="_blank">微博开放平台</a> 申请 (注意: 请申请网站不要申请应用)'); ?></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label textwrap"><?php _e('微博 App Secret'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="sina_skey" type="text" class="form-control" value="<?php echo $this->setting['sina_skey']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('微信公众平台接口 Token'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="weixin_mp_token" type="text" class="form-control" value="<?php echo $this->setting['weixin_mp_token']; ?>"/>

                                <span class="help-block"><?php _e('请与微信公众平台后台设置一致，URL 为 <code>%s</code>', get_js_url('/weixin/api/')); ?></span>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('微信公众平台接口 EncodingAESKey'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input type="text" class="form-control" name="weixin_encoding_aes_key" value="<?php echo $this->setting['weixin_encoding_aes_key']; ?>">
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('微信公众平台帐号角色'); ?>:</span>
                            <div class="col-sm-8 col-xs-8">
                                <label class="checkbox-inline"><input type="radio" name="weixin_account_role" value="base"<?php if (!$this->setting['weixin_account_role'] OR $this->setting['weixin_account_role'] == 'base') { ?> checked="checked"<?php } ?> /> <?php _e('普通订阅号'); ?></label>
                            <label class="checkbox-inline"><input type="radio" name="weixin_account_role" value="subscription"<?php if ($this->setting['weixin_account_role'] == 'subscription') { ?> checked="checked"<?php } ?> /> <?php _e('微信认证订阅号'); ?></label>
                            <label class="checkbox-inline"><input type="radio" name="weixin_account_role" value="general"<?php if ($this->setting['weixin_account_role'] == 'general') { ?> checked="checked"<?php } ?> /> <?php _e('普通服务号'); ?></label>
                            <label class="checkbox-inline"><input type="radio" name="weixin_account_role" value="service"<?php if ($this->setting['weixin_account_role'] == 'service') { ?> checked="checked"<?php } ?> /> <?php _e('微信认证服务号'); ?></label>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('微信公众平台 AppID'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="weixin_app_id" type="text" class="form-control" value="<?php echo $this->setting['weixin_app_id']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('微信公众平台 AppSecret'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="weixin_app_secret" type="text" class="form-control" value="<?php echo $this->setting['weixin_app_secret']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <?php if (check_extension_package('payment')) { ?>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label textwrap"><?php _e('支付宝账号'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="alipay_seller_email" type="text" class="form-control" value="<?php echo $this->setting['alipay_seller_email']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label textwrap"><?php _e('支付宝合作身份者 ID'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="alipay_partner" type="text" class="form-control" value="<?php echo $this->setting['alipay_partner']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label textwrap"><?php _e('支付宝安全检验码'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="alipay_key" type="text" class="form-control" value="<?php echo $this->setting['alipay_key']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('支付宝签名方式'); ?>:</span>
                            <div class="col-sm-8 col-xs-8">
                                <label class="checkbox-inline"><input type="radio" name="alipay_sign_type" value="MD5"<?php if (!$this->setting['alipay_sign_type'] OR $this->setting['alipay_sign_type'] == 'MD5') { ?> checked="checked"<?php } ?> /> MD5</label>
                                <label class="checkbox-inline"><input type="radio" name="alipay_sign_type" value="RSA"<?php if ($this->setting['alipay_sign_type'] == 'RSA') { ?> checked="checked"<?php } ?> /> RSA</label>
                                <label class="checkbox-inline"><input type="radio" name="alipay_sign_type" value="0001"<?php if ($this->setting['alipay_sign_type'] == '0001') { ?> checked="checked"<?php } ?> /> 0001</label>

                                <span class="help-block"><?php _e('如不确定请勿更改'); ?></span>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('支付宝字符编码格式'); ?>:</span>
                            <div class="col-sm-8 col-xs-8">
                                <label class="checkbox-inline"><input type="radio" name="alipay_input_charset" value="utf-8"<?php if (!$this->setting['alipay_input_charset'] OR $this->setting['alipay_input_charset'] == 'utf-8') { ?> checked="checked"<?php } ?> /> UTF-8</label>
                                <label class="checkbox-inline"><input type="radio" name="alipay_input_charset" value="gbk"<?php if ($this->setting['alipay_input_charset'] == 'gbk') { ?> checked="checked"<?php } ?> /> GBK</label>

                                <span class="help-block"><?php _e('不建议更改'); ?></span>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('支付宝访问模式'); ?>:</span>
                            <div class="col-sm-8 col-xs-8">
                                <label class="checkbox-inline"><input type="radio" name="alipay_transport" value="https"<?php if (!$this->setting['alipay_transport'] OR $this->setting['alipay_transport'] == 'https') { ?> checked="checked"<?php } ?> /> HTTPS</label>
                                <label class="checkbox-inline"><input type="radio" name="alipay_transport" value="http"<?php if ($this->setting['alipay_transport'] == 'http') { ?> checked="checked"<?php } ?> /> HTTP</label>

                                <span class="help-block"><?php _e('如服务器不支持 SSL 请改为 HTTP'); ?></span>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('支付宝商户私钥'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <textarea class="form-control textarea" rows="6" name="alipay_private_key"><?php echo $this->setting['alipay_private_key']; ?></textarea>

                                <span class="help-block"><?php _e('支付宝签名方式为 RSA 或 0001 时必须设置'); ?></span>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('支付宝公钥'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <textarea class="form-control textarea" rows="6" name="alipay_ali_public_key"><?php echo $this->setting['alipay_ali_public_key']; ?></textarea>

                                <span class="help-block"><?php _e('支付宝签名方式为 RSA 或 0001 时必须设置'); ?></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <?php } ?>
            </table>
        </div>
        <?php } else if ($_GET['category'] == 'cache') { ?>
        <div class="mod-head">
            <h3>
                <span class="pull-left"><?php _e('性能优化'); ?></span>
                <span class="pull-right"><a href="javascript:;" onclick="MOX.ajax_post($('#settings_form'));" class="btn btn-xs btn-primary mod-site-save"><?php _e('快速保存'); ?></a></span>
            </h3>
        </div>
        <div class="tab-content mod-content">
            <table class="table table-striped">
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('高级别缓存时间'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="cache_level_high" type="text" class="form-control" value="<?php echo $this->setting['cache_level_high']; ?>"/>

                                <span class="help-block"><?php _e('单位:秒'); ?></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('普通级别缓存时间'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="cache_level_normal" type="text" class="form-control" value="<?php echo $this->setting['cache_level_normal']; ?>"/>

                                <span class="help-block"><?php _e('单位:秒'); ?></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('低级别缓存时间'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="cache_level_low" type="text" class="form-control" value="<?php echo $this->setting['cache_level_low']; ?>"/>

                                <span class="help-block"><?php _e('单位:秒'); ?></span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <?php } else if ($_GET['category'] == 'interface') { ?>
        <div class="mod-head">
            <h3>
                <span class="pull-left"><?php _e('界面设置'); ?></span>

                <span class="pull-right"><a href="javascript:;" onclick="MOX.ajax_post($('#settings_form'));" class="btn btn-xs btn-primary mod-site-save"><?php _e('快速保存'); ?></a></span>
            </h3>
        </div>
        <div class="tab-content mod-content">
            <table class="table table-striped">
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('用户界面风格'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <select class="form-control" name="ui_style">
                                <?php foreach($this->styles as $skey => $val) { ?>
                                    <option value="<?php echo $val['id']; ?>"<?php if ($this->setting['ui_style'] == $val['id']) { ?> selected="selected"<?php } ?>><?php echo $val['title']; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <?php } ?>
        <div class="tab-content mod-content mod-one-btn">
            <div class="center-block">
                <input type="button" value="<?php _e('保存设置'); ?>" class="btn btn-primary" onclick="MOX.ajax_post($('#settings_form'));" />
            </div>
        </div>
    </div>
    </form>
</div>

<?php TPL::output('admin/global/footer.tpl.htm'); ?>