<?php TPL::output('global/header.tpl.htm');?>

<div class="container clearfix">
     <div class="main">
          <div class="list">
               <?php foreach($this->goods_list['list'] as $goods):?>
               <div class="item">
                    <a target="_blank" href="<?php echo $goods->click_url;?>">
                    <img src="<?php echo $goods->pict_url;?>"/>
                    <span><?php echo $goods->name;?></span>
                    </a>
               </div>
              <?php endforeach;?>
          </div>
     </div>
     <div class="side">

     </div>
</div>

<?php TPL::output('global/footer.tpl.htm');?>