<?php TPL::output('global/header.tpl.htm'); ?>
<div class="fui-page sns-board-page">
    <div class="fui-header">
        <div class="fui-header-left"></div>
        <div class="title"><?php echo MOX_APP::$settings['site_name'];?></div>
        <div class="fui-header-right"></div>
    </div>
    <div class="fui-content">
        <div class="fui-searchbar bar" id="newIndex">
            <div class="city-select" id="citySelect"></div>
            <div class="searchbar" style="background: #ef7700;">
                <form action="" method="post" style="position: relative;left:0;top:0;">
                    <input type="submit" class="searchbar-cancel searchbtn" value="搜索" style="top:0;right:0"/>
                    <div class="search-input round" style="background: #ef7700;">
                        <i class="icon icon-search" style="color: #ffffff;"></i>
                        <input type="search" placeholder="搜索关键词" class="search" name="keywords" style="text-align: left; color: #ffffff; background: none;" />
                    </div>
                </form>
            </div>
            <div class="search-extra">
                 <i id="btn_scan" class="icon icon-scan"></i>
            </div>
        </div>

        <div id="newBaner">
            <div class="fui-imgSlider">
                <div class='fui-swipe'>
                    <div class='fui-swipe-wrapper'>
                        <?php foreach($this->banner_list as $banner):?>
                        <a class='fui-swipe-item' href="<?php echo $banner['link'];?>" data-nocache="true">
                            <img src="<?php echo $banner['image'];?>"/>
                        </a>
                        <?php endforeach;?>
                    </div>
                    <div class="fui-swipe-page left round"></div>
                </div>
            </div>
        </div>

        <div class="fui-icon-group noborder col-5 fui-mall-nav">
            <?php foreach($this->mall_nav as $nav){?>
            <a class="fui-icon-col external full-nav-item" href="<?php echo $nav['link'];?>" data-nocache="true">
                <div class="icon"><img src="<?php echo $nav['img'];?>"></div>
                <div class="text"><?php echo $nav['name'];?></div>
            </a>
            <?php } ?>
        </div>

        <div class="fui-cell-group fui-cell-click">
            <a class="fui-cell external" href="javascript:;">
                <div class="fui-cell-icon"><i class="icon icon-list"></i></div>
                <div class="fui-cell-text hot-topic">热门话题</div>
            </a>
            <div class="fui-icon-group selecter" style="overflow: scroll;">
                <ul class="banner-ul">
                    <?php foreach($this->hot_topic_list as $topic){?>
                    <li class="banner-li-blue">
                        <a href="javascript:;">
                            <img src="<?php echo $topic['preview'];?>" alt="<?php echo $topic['title'];?>">
                            <p><?php echo $topic['title'];?></p>
                            <p class="follow-topic"><i class="icon icon-comment"></i>1093 跟帖</p>
                        </a>
                    </li>
                    <?php } ?>
                </ul>
            </div>
        </div>
        <div class="newActivity" style="padding-bottom: 0.75rem;background: white">
            <?php foreach($this->activity_list as $activity){?>
            <img src="<?php echo $activity['image'];?>" style="display:block;width:100%;height:auto;"/>
            <?php } ?>
        </div>

        <div class="feed-list">
            <div class="fui-cell external fui-new-feed">
                <span class="fui-cell-icon"><i class="icon icon-list"></i></span>
                <span class="fui-cell-text">最新动态</span>
            </div>
            <?php foreach($this -> feed_list as $feed):?>
            <div class="feed-item">
                <div class="user-info">
                    <a href="<?php echo G_DEMAIN;?>/user/<?php echo $feed['user_info']['id'];?>/"><img class="avatar" src="<?php echo G_DEMAIN.$feed['user_info']['avatar'];?>"></a>
                    <a class="nick" href="<?php echo G_DEMAIN;?>/user/<?php echo $feed['user_info']['id'];?>/"><?php echo $feed['user_info']['user_name'];?></a>
                    <span class="time"><?php echo date_friendly($feed['create_time']);?></span>
                </div>
                <div class="feed-content">
                    <div class="text">
                        <a href="<?php echo G_DEMAIN;?>/feed/<?php echo ($feed['id']);?>"><?php echo $feed['content'];?></a>
                    </div>
                    <div class="pics">
                        <?php foreach($feed['pics'] as $key => $pic):?>
                        <?php if($key < 3):?>
                        <img src="<?php echo $pic;?>"/>
                        <?php endif;?>
                        <?php endforeach;?>
                    </div>
                </div>
                <div class="user-attr">
                    <span class="icon icon-like">赞 <?php echo $feed['like_num'];?></span>
                    <span class="icon icon-comment">评论 <?php echo $feed['comment_num'];?></span>
                </div>
            </div>
            <?php endforeach;?>
        </div>
        <div class="infinite-loading">
            <span class="fui-preloader"></span>
            <span class="text"> 正在加载...</span>
        </div>
    </div>
    <div>
        <a class="btn btn-primary btn-add-post external" href=""><i class="icon icon-edit2"></i></a>
    </div>
</div>
<?php TPL::output('global/footer.tpl.htm'); ?>

<script id='tpl_feed_list' type='text/html'>
    <%each list as feed%>
    <div class="feed-item">
        <div class="user-info">
            <a href="<?php echo G_DEMAIN;?>/user/<%feed.author.id%>/"><img class="avatar" src="<%feed.author.portrait%>"></a>
            <a class="nick" href="<?php echo G_DEMAIN;?>/user/<?php echo $feed['user_info']['id'];?>/"><%feed.author.name%></a>
            <span class="time"><%feed.pubDate%></span>
        </div>
        <div class="feed-content">
            <div class="text">
                <a href="<?php echo G_DEMAIN;?>/feed/<%feed.id%>"><%feed.content%></a>
            </div>
            <div class="pics">
                <%each feed.images as pic%>
                <img src="<%pic.thumb%>"/>
                <%/each%>
            </div>
        </div>
        <div class="user-attr">
            <span class="icon icon-like">赞 <%feed.likeCount%></span>
            <span class="icon icon-comment">评论 <%feed.commentCount%></span>
        </div>
    </div>
    <%/each%>
</script>

<script language='javascript'>require(['/static/js/list.js'], function (modal) {
    modal.init();
});</script>