<?php TPL::output('global/header.tpl.htm'); ?>
<div class="fui-page">
    <div class="fui-header">
        <div class="fui-header-left"></div>
        <div class="title">Mox系统</div>
        <div class="fui-header-right"></div>
    </div>
    <div class="fui-content">
        <div class="fui-searchbar bar" id="newIndex">
            <div class="city-select" id="citySelect"></div>
            <div class="searchbar" style="background: #ef7700;">
                <form action="" method="post" style="position: relative;left:0;top:0;">
                    <input type="submit" class="searchbar-cancel searchbtn" value="搜索" style="top: 0; right: 0" />
                    <div class="search-input round" style="background: #ef7700;">
                        <i class="icon icon-search" style="color: #ffffff;"></i>
                        <input type="search" placeholder="搜索商品/关键词" class="search" name="keywords" style="text-align: left; color: #ffffff; background: none;" />
                    </div>
                </form>
            </div>
            <div class="search-extra">
                 <i id="btn_scan" class="icon icon-scan"></i>
            </div>
        </div>

        <div id="newBaner">
            <div class="fui-imgSlider">
                <div class='fui-swipe'>
                    <div class='fui-swipe-wrapper'>
                        <?php foreach($this->hot_topic_list as $key => $hot_topic):?>
                        <a class='fui-swipe-item' href="" data-nocache="true">
                            <img src="http://www.qinxuan365.cn/addons/ewei_shopv2/template/mobile/default/static/images/newBanner.jpg" style="display:block;width:100%; height:auto;"/>
                        </a>
                        <?php endforeach;?>
                    </div>
                    <div class="fui-swipe-page left round"></div>
                </div>
            </div>
        </div>

        <div class="fui-icon-group noborder col-5">
            <a class="fui-icon-col external" href="" data-nocache="true">
                <div class="icon"><img src="http://img.qinxuan365.com/fc7f41960955c5d51dcc4e266c81590b.png"></div>
                <div class="text" style="color: #333333;">小号手</div>
            </a>
            <a class="fui-icon-col external" href="" data-nocache="true">
                <div class="icon"><img src="http://img.qinxuan365.com/76e3d73ddfdd5075056e5fc82200ba20.png"></div>
                <div class="text" style="color: #333333;">田宫</div>
            </a>
            <a class="fui-icon-col external" href="" data-nocache="true">
                <div class="icon"><img src="http://img.qinxuan365.com/9107c4dd5fb55aeef939cdf5d3bca0a4.png"></div>
                <div class="text" style="color: #333333;">米高</div>
            </a>
            <a class="fui-icon-col external" href="" data-nocache="true">
                <div class="icon"><img src="http://img.qinxuan365.com/f9e31312f0db86df57dd5c2d156e13f0.png"></div>
                <div class="text" style="color:#333333;">军事模型</div>
            </a>
            <a class="fui-icon-col external" href="" data-nocache="true">
                <div class="icon"><img src="http://img.qinxuan365.com/4d1c393c33112c0f38ad38098024bf1d.png"></div>
                <div class="text" style="color:#333333;">民用模型</div>
            </a>
        </div>

        <div class="fui-cell-group fui-cell-click">
            <a class="fui-cell external" href="">
                <div class="fui-cell-icon"><i class="icon icon-list"></i></div>
                <div class="fui-cell-text">热门话题</div>
                <div class="fui-cell-remark" style="font-size:0.5rem;"></div>
            </a>
            <div class="fui-icon-group selecter" style="overflow: scroll;">
                <ul class="banner-ul">
                    <li class="banner-li-blue">
                        <a href="javascript:;" onclick="/">
                            <img src="https://www.tamiya.com/english/products/70232/top.jpg" alt="">
                            <p>	重型坦克哪家好？</p>
                        </a>
                    </li>
                    <li class="banner-li-blue">
                        <a href="javascript:;" onclick="/">
                            <img src="https://www.tamiya.com/english/products/58661/top.jpg" alt="">
                            <p>	小号手哪些值得购买？</p>
                        </a>
                    </li>
                    <li class="banner-li-blue">
                        <a href="javascript:;" onclick="/">
                            <img src="http://www.moxquan.com/static/upload/01/16-1.png" alt="">
                            <p>	2019年年终总结</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="newActivity" style="padding-bottom: 0.75rem;background: white">
            <img src="http://www.qinxuan365.cn/addons/ewei_shopv2/template/mobile/default/static/images/syhd.png" style="display: block; width: 100%; height: auto;"/>
        </div>
        <div class="feed-list">
            <?php foreach($this -> feed_list as $feed):?>
            <div class="feed-item">
                <div class="user-info">
                    <a href="<?php echo G_DEMAIN;?>/user/<?php echo $feed['user_info']['id'];?>/"><img class="avatar" src="<?php echo G_DEMAIN.$feed['user_info']['avatar'];?>"></a>
                    <a class="nick" href="<?php echo G_DEMAIN;?>/user/<?php echo $feed['user_info']['id'];?>/"><?php echo $feed['user_info']['user_name'];?></a>
                    <span class="time"><?php echo date_friendly($feed['create_time']);?></span>
                </div>
                <div class="feed-content">
                    <div class="text">
                        <a href="<?php echo G_DEMAIN;?>/feed/<?php echo ($feed['id']);?>"><?php echo $feed['content'];?></a>
                    </div>
                    <div class="pics">
                        <?php foreach($feed['pics'] as $key => $pic):?>
                        <?php if($key < 3):?>
                        <img src="<?php echo $pic;?>"/>
                        <?php endif;?>
                        <?php endforeach;?>
                    </div>
                </div>
                <div class="user-attr">
                    <span class="icon icon-like">赞 <?php echo $feed['like_num'];?></span>
                    <span class="icon icon-comment">评论 <?php echo $feed['comment_num'];?></span>
                </div>
            </div>
            <?php endforeach;?>
        </div>
        <div class='infinite-loading'>
            <span class='fui-preloader'></span>
            <span class='text'>正在加载...</span>
        </div>
    </div>
</div>
<?php TPL::output('global/footer.tpl.htm'); ?>