<?php TPL::output('admin/global/header.tpl.htm'); ?>
<?php TPL::output('admin/global/nav_menu.tpl.htm'); ?>
<div class="aw-content-wrap">
    <div class="mod">
        <div class="mod-head">
            <h3>
                <ul class="nav nav-tabs">
                    <li><a href="/admin/brand/index/"><?php _e('品牌列表'); ?></a></li>
                    <li class="active"><a href="/admin/brand/edit/"><?php _e('编辑品牌'); ?></a></li>
                </ul>
            </h3>
        </div>
        <div class="tab-content mod-content">
            <form action="/admin/brand/save/" id="form" method="post" onsubmit="return false">
                <table class="table table-striped">
                    <?php if ($this->info) { ?>
                    <input type="hidden" name="id" value="<?php echo $this->info['id']; ?>" />
                    <?php } ?>
                    <tr>
                        <td>
                            <div class="form-group">
                                <span class="col-sm-4 col-xs-3 control-label">*名称：</span>
                                <div class="col-sm-5 col-xs-8">
                                    <input class="form-control" type="text" name="name" value="<?php if ($this->info) echo $this->info['name']; ?>" />
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <span class="col-sm-4 col-xs-3 control-label"><?php _e('英文名称'); ?>:</span>
                                <div class="col-sm-5 col-xs-8">
                                     <input class="form-control" type="text" name="ename" value="<?php if ($this->info) echo $this->info['ename']; ?>"/>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <span class="col-sm-4 control-label"><?php _e('介绍'); ?>:</span>
                                <div class="col-sm-8">
                                     <script id="editor" name="intro" type="text/plain"><?php if ($this->info) echo $this->info['intro']; ?></script>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <span class="col-sm-4 col-xs-3 control-label"><?php _e('地区'); ?>:</span>
                                <div class="col-sm-5 col-xs-8">
                                     <input class="form-control" type="text" name="area" value="<?php if ($this->info) echo $this->info['area']; ?>"/>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <span class="col-sm-4 col-xs-3 control-label"><?php _e('官网'); ?>:</span>
                                <div class="col-sm-5 col-xs-8">
                                     <input class="form-control" type="text" name="website" value="<?php if ($this->info) echo $this->info['website']; ?>"/>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tfoot>
                        <tr>
                            <td>
                                <input type="button" value="<?php _e('保存数据'); ?>" class="btn btn-primary center-block" onclick="AWS.ajax_post($('#form'));" />
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</div>
<?php TPL::output('admin/global/footer.tpl.htm'); ?>
<script type="text/javascript">
    var editor = UE.getEditor('editor',{
        initialFrameHeight:240
    });
</script>
