<div id="sns-board-post-page" class='fui-page sns-board-post-page'>
    <script type="text/javascript">
        $(function () {
            $(".btn-add-post").off('click').on('click',function () {
                $(".fui-cell-info .post-input").val('');
                $(".fui-cell-info .icon-pic").empty();
            })
        })
    </script>
    <div class="fui-header">
        <div class="fui-header-left">
            <a class="back">取消</a>
        </div>
        <div class="title">发布动态</div>
        <div class="fui-header-right"></div>
    </div>
    <div class="fui-content navbar">
        <div class="fui-cell-group" style="margin-top:0;">
            <div class="fui-cell">
                <div class="fui-cell-info">
                    <textarea placeholder="请输入动态内容，10-1000个字" class="post-input" rows="8" id="content" minlength="10" maxlength="1000"></textarea>
                </div>
            </div>
            <div class="fui-cell reply-func-cell">
                <div class="fui-cell-info post-func">
                    <i class="icon icon-emoji"></i>
                    <i class="icon icon-pic"></i>
                </div>
            </div>
            <div class="post-face">
                <?php for($i=1;$i<=75;$i++) {?>
                <div class="item" data-face="<?php echo $i;?>"><img src="/static/face/<?php echo $i;?>.gif" /></div>
                <?php } ?>
            </div>
            <div class='fui-cell post-image' id="cell-images">
                <div class='fui-cell-info'>
                    <ul class="fui-images fui-images-md"></ul>
                    <div class="fui-uploader fui-uploader-md" data-max="5" data-count="0">
                        <input type="file" multiple="multiple" aria-multiselectable="true" name="file" id="file" accept="image/*">
                    </div>
                </div>
            </div>
        </div>
        <a href="javascript:void(0);" id="btnSend" class="btn btn-sns-submit">发表</a>
    </div>
</div>