<?php TPL::output('global/header.tpl.htm'); ?>
<div class="fui-page-group">
    <div class="fui-page">
        <div class="fui-header">
            <div class="fui-header-left"><a href="javascript:;" class="back"></a></div>
            <div class="title">动态详情</div>
            <div class="fui-header-right">&nbsp;</div>
        </div>
        <div class="fui-content feed-detail">
            <div class="user-info clearfix">
                <img class="avatar" src="<?php echo G_DEMAIN.$this->feed['user_info']['avatar'];?>">
                <a class="nick" href="<?php echo G_DEMAIN;?>/user/<?php echo $this->feed['user_info']['id'];?>"><?php echo $this->feed['user_info']['user_name'];?></a>
                <span class="follow btn btn-sm btn-danger">关注</span>
            </div>
            <div class="feed-detail-content clearfix">
                <div class="text">
                    <?php echo $this->feed['content'];?>
                </div>
                <div class="pics clearfix">
                    <?php foreach($this->feed['pics'] as $pic):?>
                    <img src="<?php echo $pic;?>"/>
                    <?php endforeach;?>
                </div>
                <div class="time">
                    <?php echo date_friendly($this->feed['create_time']);?>更新
                </div>
            </div>
            <div id="comment_list" class="comments">
                <div class="title">
                    <span class="icon icon-comment">评论</span>
                    <span class="num"><?php echo $this->feed['comment_num'];?></span>
                </div>
                <?php if(!empty($this->feed['comment_list'])):?>
                <div class="comment-list">
                    <?php foreach($this->feed['comment_list'] as $comment):?>
                    <div class="comment-item">
                        <div class="c-user-info">
                            <img class="avatar" src="<?php echo G_DEMAIN.$comment['user_info']['avatar'];?>"/>
                            <span class="nick"><?php echo $comment['user_info']['user_name'];?></span>
                        </div>
                        <div class="rrr">
                             <div class="time-dd"><?php echo date_friendly($comment['create_time']);?></div>
                             <span class="comment-desc"><?php echo $comment['content'];?></span>
                        </div>
                    </div>
                    <?php endforeach;?>
                </div>
                <?php else :?>
                <div class="no-comment">暂时还没有评论哦...</div>
                <?php endif;?>
                <div class="user-op">
                    <div class="op-like"><span class="icon icon-like"></span></div>
                    <div class="op-comment">
                         <input class="fui-input" type="text" placeholder="有看法？直接评论吧..." name='comment' value=""/>
                         <button class="btn btn-success btn-sm"><span class="icon icon-comment">评论</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script language='javascript'>
    require(['/static/js/sns.js'], function (modal) {
        modal.detail();
    });
</script>