<?php TPL::output('global/header.tpl.htm'); ?>
<div class="feed-list">
     <?php foreach($this -> feed_list as $feed):?>
     <div class="feed-item clearfix">
         <div class="user-info">
              <a href="<?php echo G_DEMAIN;?>/user/<?php echo $feed['user_info']['id'];?>/"><img class="avatar" src="<?php echo G_DEMAIN.$feed['user_info']['avatar'];?>"></a>
              <a class="nick" href="<?php echo G_DEMAIN;?>/user/<?php echo $feed['user_info']['id'];?>/"><?php echo $feed['user_info']['user_name'];?></a>
              <span class="time"><?php echo date_friendly($feed['create_time']);?></span>
         </div>
         <div class="feed-content clearfix">
              <div class="text">
                   <a href="<?php echo G_DEMAIN;?>/feed/<?php echo ($feed['id']);?>.html"><?php echo $feed['content'];?></a>
              </div>
              <div class="pics clearfix">
                  <?php foreach($feed['pics'] as $key => $pic):?>
                      <?php if($key < 7):?>
                      <img src="<?php echo $pic;?>"/>
                      <?php endif;?>
                  <?php endforeach;?>
              </div>
         </div>
         <div class="user-attr clearfix">
              <span class="icon-good">赞 <?php echo $feed['like_num'];?></span>
              <span class="icon-comment">评论 <?php echo $feed['comment_num'];?></span>
         </div>
     </div>
     <?php endforeach;?>
</div>
<div class="app-tab">
    <div class="app-item">
        <a href="/"><img class="t-icon" src="/static/mobile/image/tab_0_off.png"/></a>
        <div class="the"><a href="/">首页</a></div>
    </div>
    <div class="app-item">
        <a href="/home/"><img class="t-icon" src="/static/mobile/image/tab_1_on.png"/></a>
        <div class="the"><a href="/home/">社区</a></div>
    </div>
    <div class="app-item">
        <div class="the icon-publish">+</div>
    </div>
    <div class="app-item">
        <a href="/message/index/"><img class="t-icon" src="/static/mobile/image/tab_2_off.png"/></a>
        <div class="the"><a href="/message/index/">消息</a></div>
    </div>
    <div class="app-item">
        <a href="/user/home/"><img class="t-icon" src="/static/mobile/image/tab_3_off.png"/></a>
        <div class="the"><a href="/user/home/">我的</a></div>
    </div>
</div>
<?php TPL::output('global/footer.tpl.htm'); ?>