<!DOCTYPE >
<html>
<head>
    <base href="<?php echo G_DEMAIN;?>/"/>
    <title><?php echo $this->seo['title'];?></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="keywords" content="<?php echo $this->seo['keywords'];?>"/>
    <meta name="description" content="<?php echo $this->seo['description'];?>"/>
    <link rel="alternate" media="only screen and (max-width:640px)" href="<?php echo $this -> m_url;?>">
    <meta name="applicable-device" content="pc">
    <meta name="mobile-agent" content="format=xhtml; url=<?php echo $this -> m_url;?>">
    <meta name="mobile-agent" content="format=html5; url=<?php echo $this -> m_url;?>">
    <meta name="mobile-agent" content="format=wml; url=<?php echo $this -> m_url;?>">
    <link rel="stylesheet" type="text/css" href="<?php echo G_DEMAIN;?>/static/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo G_DEMAIN;?>/static/css/icon.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo G_DEMAIN;?>/static/css/default/newCommon.css?v<?php echo G_VERSION_BUILD;?>">
    <link rel="stylesheet" type="text/css" href="<?php echo G_DEMAIN;?>/static/css/default/header.css?v<?php echo G_VERSION_BUILD;?>"/>
    <link rel="stylesheet" type="text/css" href="<?php echo G_DEMAIN;?>/static/css/default/common.css?v<?php echo G_VERSION_BUILD;?>"/>
    <link href="<?php echo G_DEMAIN;?>/static/css/default/index.css?v<?php echo G_VERSION_BUILD;?>" rel="stylesheet" type="text/css" />
    <?php foreach ( $this->_import_css_files AS $import_css) { ?>
    <link rel="stylesheet" type="text/css" href="<?php echo $import_css; ?>?v=<?php echo G_VERSION_BUILD; ?>"/>
    <?php } ?>
    <?php foreach ($this->_import_js_files AS $import_js) { ?>
    <script type="text/javascript" src="<?php echo $import_js; ?>?v=<?php echo G_VERSION_BUILD; ?>"></script>
    <?php } ?>
    <link rel="Shortcut Icon" href="<?php echo G_DEMAIN;?>/static/favicon.ico">
</head>
<body>
<!--Mox导航-->
<!-- 顶部横栏 -->
<div class="top-nav">
    <div class="NewH">
        <div class="NewH_top">
            <div class="NewH_top_left left">
                <img src="<?php echo G_DEMAIN;?>/static/images/logo.png" alt="Mox">
            </div>
            <div class="NewH_top_right right noLogin">
                <?php if(empty($this->user_info['uid'])):?>
                <div class="NewH_Info">
                    <div class="NewH_Info_head right noLogin" style="margin-left:70px;">
                        <a href="<?php echo G_DEMAIN;?>/user/register/" target="_blank" class="NewH_Info_head_name left">注册</a>
                        <a href="<?php echo G_DEMAIN;?>/user/login/" class="t_dblue left" style="margin-right:10px;">登录</a>
                        <a href="javascript:;" title="QQ登录" class="unloginPng">
                            <img src="<?php echo G_DEMAIN;?>/static/images/QQ.png">
                        </a>
                        <a href="javascript:;" title="微信登录" class="unloginPng">
                            <img src="<?php echo G_DEMAIN;?>/static/images/weixin.png">
                        </a>
                        <a href="javascript:;" title="新浪登录" class="unloginPng">
                            <img src="<?php echo G_DEMAIN;?>/static/images/xinlang.png">
                        </a>
                    </div>
                </div>
                <?php else:?>
                <div class="NewH_Info logined">
                    <div class="left top-message-num">
                        <a target="_blank" href="<?php echo G_DEMAIN;?>/message/index">
                           <span class="icon-comment msg-box"><?php echo $this->unread_msg;?></span>
                        </a>
                    </div>
                    <div class="NewH_Info_head NH_login right">
                        <a href="<?php echo G_DEMAIN;?>/user/home/" target="_blank" class="left">
                            <img src="<?php echo G_DEMAIN;?><?php echo $this->user_info['avatar'];?>" class="NewH_Info_head_img">
                        </a>
                        <a href="<?php echo G_DEMAIN;?>/user/home/" class="left HuserName" style="margin-left:10px;" target="_blank"><?php echo $this->user_info['user_name'];?></a>
                        <ul class="NHinfo_XL" style="top:45px;display:none;">
                            <li class="NHinfo_XL_item">
                                <a href="<?php echo G_DEMAIN;?>/user/home/" target="_blank">个人中心</a>
                            </li>
                            <li class="NHinfo_XL_item">
                                <a rel="nofollow" href="<?php echo G_DEMAIN;?>/user/logout/">退出</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <?php endif;?>
            </div>
            <!-- 搜索框 -->
            <div class="NewH_searchBox right">
                <div class="NewH_search">
                    <input class="NewH_searchInput2" type="text" name="keyword" placeholder="搜索 模型/标题/用户" />
                    <a class="btn-search" href="javascript:;"><img src="<?php echo G_DEMAIN;?>/static/images/NHsousuob.png" class="right"></a>
                </div>
                <div class="NewH_search_titles">
                    <a target="_blank" href="<?php echo G_DEMAIN;?>" style="color:#e77919;border:1px solid #e77919;">搜索热度</a>
                    <a target="_blank" href="<?php echo G_DEMAIN;?>">高级搜索</a>
                </div>
            </div>
        </div>
        <!-- 导航栏部分 -->
        <div class="NewH_bot">
            <div class="NewH_bot_items">
                <!-- 导航栏2logo -->
                <div class="newH2logo left"></div>
                <?php foreach($this->pc_nav as $nav){?>
                <div class="NewH_bot_Item left">
                    <div class="NewH_bot_title1">
                        <a href="<?php echo $nav['link'];?>"><?php echo $nav['name'];?></a>
                    </div>
                </div>
                <?php } ?>
                <a class="dlappBox dlapp1 right" href="<?php echo G_DEMAIN;?>/home/">
                    <div class="dlapp dlapp1 right">
                        <span class="icon icon-ask"></span>
                        <span class="publish">发布</span>
                    </div>
                </a>
                <!-- 导航2个人信息与搜索框 -->
                <div class="NewH_searc_info left">
                    <div class="NewH_searchBox2 left" style="background:none;">
                        <div class="NewH_search2">
                            <input type="text" class="left NewH_searchInput" name="keyword" placeholder="搜索 模型/标题/用户"/>
                            <a class="btn-search" href="javascript:;"><img src="<?php echo G_DEMAIN;?>/static/images/NHsousuob.png"></a>
                        </div>
                    </div>
                    <?php if(empty($this->user_info['uid'])):?>
                    <div class="NewH_Info_head noLogin left">
                        <a href="<?php echo G_DEMAIN;?>/user/register/" target="_blank" class="left">注册</a>
                        <a href="<?php echo G_DEMAIN;?>/user/login/" target="_blank" class="NewH_Info_head_name left">找回密码</a>
                        <a href="<?php echo G_DEMAIN;?>/user/login/" target="_blank" class="t_dblue right">登录</a>
                    </div>
                    <?php else:?>
                    <div class="NewH_Info_head NH_login logined left">
                        <div class="NH_infoBG ">
                            <a href="<?php echo G_DEMAIN;?>/user/home/" target="_blank" class="banner-avatar">
                                <img src="<?php echo G_DEMAIN;?><?php echo $this->user_info['avatar'];?>" class="NewH_Info_head_img">
                            </a>
                        </div>
                        <ul class="NHinfo_XL" style="display:none;">
                            <li class="NHinfo_XL_item">
                                <a href="<?php echo G_DEMAIN;?>/user/home/" target="_blank">个人中心</a>
                            </li>
                            <li class="NHinfo_XL_item">
                                <a rel="nofollow" href="<?php echo G_DEMAIN;?>/user/logout/">退出</a>
                            </li>
                        </ul>
                    </div>
                    <div class="left ban-message-num">
                        <a target="_blank" href="<?php echo G_DEMAIN;?>/message/index">
                           <span class="icon-comment msg-box"><?php echo $this->unread_msg;?></span>
                        </a>
                    </div>
                    <?php endif;?>
                    <a class="dlappBox dlapp2 right" href="<?php echo G_DEMAIN;?>/home/">
                        <div class="dlapp right">
                            <span class="icon icon-ask"></span>
                            <span class="publish">发布</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#myfocus').find('#myloading').css('z-index','1111')

    //导航栏新增代码
    $('.NewH_bot_title3').mouseover(function () {
        $(this).css('background-color', '#E8F0F5')
    })
    $('.NewH_bot_title3').mouseout(function () {
        $(this).css('background-color', 'white')
    })

    $('.NewH_bot_Item').mouseover(function () {
        $(this).find('.NewH_bot_title2').show()
        $(this).find('.NewH_bot_title1').addClass('NewH_bot_title1ACT')
    })
    $('.NewH_bot_Item').mouseout(function () {
        $(this).find('.NewH_bot_title2').hide()
        $(this).find('.NewH_bot_title1').removeClass('NewH_bot_title1ACT')
    })

    //屏幕滚动
    $(window).scroll(function () {
        if ($(window).scrollTop() > 115) {
            //出现导航2
            $('.dlapp1').hide();
            $('.dlapp2').show();
            $('.newH2logo').show();
            $('.NewH_searc_info').show();
            $('.NewH_bot').addClass('fixedHeader');
            $('.MCcount').addClass('MCcountnum2');
            $('.MCbox_up').find('img').css('margin-left','293px');
        } else {
            $('.NewH_bot').removeClass('fixedHeader')
            $('.dlapp1').show();
            $('.dlapp2').hide();
            $('.newH2logo').hide();
            $('.NewH_searc_info').hide();
            $('.MCcount').removeClass('MCcountnum2');
            $('.MCbox_up').find('img').css('margin-left','117px');
        }
    });
    $('.NH_login').mouseover(function(){
        $(this).find('.NHinfo_XL').show();
    })
    $('.NH_login').mouseout(function(){
        $(this).find('.NHinfo_XL').hide();
    })
</script>