</div>
</div>
<div class="diymenu">
    <div class="item item-col-4" onclick="location.href = '/'">
        <div class="inner top">
            <span class="icon icon-home top"></span>
            <span class="text top" >首页</span>
        </div>
    </div>
    <div class="item item-col-4" onclick="location.href='/mall/'">
        <div class="inner top">
            <span class="icon icon-shangcheng1 top"></span>
            <span class="text top" >商店</span>
        </div>
    </div>
    <div class="item item-col-4" onclick="location.href='/home/'">
        <div class="inner top">
            <span class="icon icon-people2 top"></span>
            <span class="text top">社区</span>
        </div>
    </div>
    <div class="item item-col-4" onclick="location.href='/user/'">
        <div class="inner top">
            <span class="icon icon-my top"></span>
            <span class="text top" >我的</span>
        </div>
    </div>
</div>
</div>
<script language="javascript">
    require(['init']);
</script>
</body>
</html>
