</div>
</div>
<div class="diymenu">
    <?php foreach($this->mobile_nav as $nav){?>
    <div class="item item-col-<?php echo count($this->mobile_nav)?>" onclick="location.href = '<?php echo $nav[2];?>'">
        <div class="inner top">
            <span class="icon icon-<?php echo $nav[1];?> top"></span>
            <span class="text top"><?php echo $nav[0];?></span>
        </div>
    </div>
    <?php } ?>
</div>
</div>
<script language="javascript">
    require(['init']);
</script>
</body>
</html>
