<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>分享到微信_模型圈</title>
    <link rel="stylesheet" type="text/css" href="<?php echo G_STATIC_URL; ?>/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo G_STATIC_URL; ?>/css/default/common.css" />
</head>
<body class="aw-404">
<div class="header">
   <div class="top-nav-mod">
       <div class ="top-nav">
           <div class="rigister-login">
              <a href="<?php echo G_DEMAIN?>/user/login/">登录</a> | <a href="<?php echo G_DEMAIN?>/user/register/">注册</a>
           </div>
       </div>
   </div>
   <div class="middle-nav-mod">
       <div class="logo">
           <a title="万千模型爱好者聚居地" href="/"><img src="/static/images/logo.png"></a>
           <span class="our-words">万千模型爱好者聚居地行</span>
       </div>
       <div class="header-search">
           <form method="get" action="<?php echo G_URL;?>/location/">
               <input class="search-input" type="text" name="q" value="<?php echo $_GET['q'];?>"/>
               <input class="search-btn" type="submit" value="搜索">
           </form>
       </div>
   </div>
</div>
<div class="page-404 content share-page">
    <p class="p4">扫一扫分享到微信</p>
    <div>
        <img width="200" height="200" src="http://qr.liantu.com/api.php?text=<?php echo base64_decode($this -> url);?>"/>
    </div>
</div>
<?php TPL::output('global/footer_meta.tpl.htm'); ?>