<?php TPL::output('admin/global/header.tpl.htm'); ?>
<?php TPL::output('admin/global/nav_menu.tpl.htm'); ?>
<div class="aw-content-wrap">
    <div class="mod">
        <div class="mod-head">
            <h3>
                <ul class="nav nav-tabs">
                    <li><a href="/backend/model/index/"><?php _e('模型列表'); ?></a></li>
                    <li class="active"><a href="/backend/model/edit/"><?php _e('新增模型'); ?></a></li>
                    <?php if ($this->info['id']):?>
                    <li><a href="/backend/model/image_edit/id-<?php echo $this->info['id'];?>/"><?php _e('编辑相册'); ?></a></li>
                    <?php endif;?>
                </ul>
            </h3>
        </div>
        <div class="tab-content mod-content">
            <form action="/backend/model/save/" id="form" method="post" onsubmit="return false">
                <table class="table table-striped">
                    <?php if ($this->info) { ?>
                    <input type="hidden" name="id" value="<?php echo $this->info['id']; ?>" />
                    <?php } ?>
                    <tr>
                        <td>
                            <div class="form-group">
                                <span class="col-sm-4 col-xs-3 control-label">*名称：</span>
                                <div class="col-sm-5 col-xs-8">
                                    <input class="form-control" type="text" name="name" value="<?php if ($this->info) echo $this->info['name']; ?>" />
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <span class="col-sm-4 col-xs-3 control-label">货号/编码：</span>
                                <div class="col-sm-5 col-xs-8">
                                    <input class="form-control" type="text" name="code" value="<?php if ($this->info) echo $this->info['code']; ?>" />
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <span class="col-sm-4 col-xs-3 control-label"><?php _e('大小比例'); ?>:</span>
                                <div class="col-sm-5 col-xs-8">
                                    <input class="form-control" type="text" name="scale" value="<?php if ($this->info) echo $this->info['scale']; ?>"/>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <span class="col-sm-4 col-xs-3 control-label"><?php _e('所属品牌'); ?>:</span>
                                <div class="col-sm-5 col-xs-8">
                                    <select name="brand_id" class="form-control">
                                        <?php foreach($this->brand_list as $brand):?>
                                        <option value="<?php echo $brand['id'];?>" <?php if($this -> info['brand_id'] == $brand['id']){ echo "selected";}?>><?php echo $brand['name'];?></option>
                                        <?php endforeach;?>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <span class="col-sm-4 control-label"><?php _e('介绍'); ?>:</span>
                                <div class="col-sm-8">
                                     <textarea  id="editor" name="intro" type="text/plain"><?php echo $this -> info['intro'];?></textarea>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <span class="col-sm-4 col-xs-3 control-label"><?php _e('英文名称'); ?>:</span>
                                <div class="col-sm-5 col-xs-8">
                                    <input class="form-control" type="text" name="ename" value="<?php if ($this->info) echo $this->info['ename']; ?>"/>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <span class="col-sm-4 col-xs-3 control-label"><?php _e('发行日期'); ?>:</span>
                                <div class="col-sm-5 col-xs-8">
                                    <input class="form-control" type="text" name="publish" value="<?php if ($this->info) echo $this->info['publish']; ?>"/>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <span class="col-sm-4 col-xs-3 control-label"><?php _e('地区'); ?>:</span>
                                <div class="col-sm-5 col-xs-8">
                                     <input class="form-control" type="text" name="area" value="<?php if ($this->info) echo $this->info['area']; ?>"/>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <span class="col-sm-4 col-xs-3 control-label"><?php _e('网址'); ?>:</span>
                                <div class="col-sm-5 col-xs-8">
                                     <input class="form-control" type="text" name="website" value="<?php if ($this->info) echo $this->info['website']; ?>"/>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tfoot>
                        <tr>
                            <td>
                                <input type="button" value="<?php _e('保存数据'); ?>" class="btn btn-primary center-block" onclick="MOX.ajax_post($('#form'));" />
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</div>
<?php TPL::output('admin/global/footer.tpl.htm'); ?>
<script type="text/javascript">
    var editor = UE.getEditor('editor',{
        toolbars:[['fullscreen','source', 'simpleupload','insertimage','map','justifyleft', 'justifycenter', 'justifyright', 'justifyjustify','emotion','underline','bold','paragraph', 'fontfamily', 'fontsize']],
        initialFrameHeight:450
    });
</script>
