<?php TPL::output('backend/global/header.tpl.htm'); ?>
<?php TPL::output('backend/global/nav_menu.tpl.htm'); ?>

<div class="aw-content-wrap">
    <form action="backend/ajax/save_settings/" id="settings_form" method="post" onsubmit="return false">
    <div class="mod">
        <?php if ($_GET['category'] == 'site') { ?>
        <div class="mod-head">
            <h3>
                <span class="pull-left"><?php _e('站点信息'); ?></span>

                <span class="pull-right"><a href="javascript:;" onclick="MOX.ajax_post($('#settings_form'));" class="btn btn-xs btn-primary mod-site-save"><?php _e('快速保存'); ?></a></span>
            </h3>
        </div>
        <div class="tab-content mod-content">
            <table class="table table-striped">
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('网站名称'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input type="text" class="form-control" name="site_name" value="<?php echo $this->setting['site_name']; ?>">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('网站域名'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input type="text" class="form-control" name="domain" value="<?php echo $this->setting['domain']; ?>">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('网站一句话介绍'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input type="text" class="form-control" name="site_words" value="<?php echo $this->setting['site_words']; ?>">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('网站简介'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <textarea class="form-control textarea" rows="4" name="description"><?php echo $this->setting['description']; ?></textarea>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('网站 ICP 备案号'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="icp_beian" class="form-control" type="text" value="<?php echo $this->setting['icp_beian']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('站点关闭'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <div class="btn-group mod-btn">
                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="site_close" value="Y"<?php if ($this->setting['site_close'] == 'Y') { ?> checked="checked"<?php } ?> /> <?php _e('是'); ?>
                                    </label>

                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="site_close" value="N"<?php if ($this->setting['site_close'] != 'Y') { ?> checked="checked"<?php } ?> /> <?php _e('否'); ?>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <?php } else if ($_GET['category'] == 'pay') {?>
        <div class="mod-head">
            <h3>
                <span class="pull-left"><?php _e('支付设置'); ?></span>
                <span class="pull-right"><a href="javascript:;" onclick="MOX.ajax_post($('#settings_form'));" class="btn btn-xs btn-primary mod-site-save"><?php _e('快速保存'); ?></a></span>
            </h3>
        </div>
        <div class="tab-content mod-content">
            <table class="table table-striped">
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-3 col-xs-3 control-label"><?php _e('在线支付'); ?>:</span>
                            <div class="col-sm-8 col-xs-8">
                                <label class="checkbox-inline"><input type="radio" name="online_pay" value="Y" <?php if ($this->setting['online_pay'] == 'Y') { ?> checked="checked"<?php } ?>/>支持</label>
                                <label class="checkbox-inline"><input type="radio" name="online_pay" value="N" <?php if ($this->setting['online_pay'] == 'N') { ?> checked="checked"<?php } ?>/>不支持</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-3 col-xs-3 control-label"><?php _e('上门支付'); ?>:</span>
                            <div class="col-sm-8 col-xs-8">
                                <label class="checkbox-inline"><input type="radio" name="offline_pay" value="Y" <?php if ($this->setting['offline_pay'] == 'Y') { ?> checked="checked"<?php } ?>/>支持</label>
                                <label class="checkbox-inline"><input type="radio" name="offline_pay" value="N" <?php if ($this->setting['offline_pay'] == 'N') { ?> checked="checked"<?php } ?>/>不支持</label>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <?php } else if ($_GET['category'] == 'functions') { ?>
        <div class="mod-head">
            <h3>
                <span class="pull-left"><?php _e('站点功能'); ?></span>
                <span class="pull-right"><a href="javascript:;" onclick="MOX.ajax_post($('#settings_form'));" class="btn btn-xs btn-primary mod-site-save"><?php _e('快速保存'); ?></a></span>
            </h3>
        </div>
        <div class="tab-content mod-content">
            <table class="table table-striped">
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('网站公告'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <textarea class="form-control textarea" name="site_announce"><?php echo htmlspecialchars($this->setting['site_announce']); ?></textarea>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('网站统计代码'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <textarea class="form-control textarea" name="statistic_code" rows="9"><?php echo $this->setting['statistic_code']; ?></textarea>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('管理员后台登录是否需要验证码'); ?>:</span>
                            <div class="col-sm-6 col-xs-8">
                                <div class="btn-group mod-btn">
                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="admin_login_seccode" value="Y"<?php if ($this->setting['admin_login_seccode'] == 'Y') { ?> checked="checked"<?php } ?> /> <?php _e('是'); ?>
                                    </label>

                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="admin_login_seccode" value="N"<?php if ($this->setting['admin_login_seccode'] != 'Y') { ?> checked="checked"<?php } ?> /> <?php _e('否'); ?>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <?php } else if ($_GET['category'] == 'mall') { ?>
        <div class="mod-head">
            <h3>
                <span class="pull-left"><?php _e('商城设置'); ?></span>
                <span class="pull-right"><a href="javascript:;" onclick="MOX.ajax_post($('#settings_form'));" class="btn btn-xs btn-primary mod-site-save"><?php _e('快速保存'); ?></a></span>
            </h3>
        </div>
        <div class="tab-content mod-content">
            <table class="table table-striped">
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('商城别称'); ?>:</span>
                            <div class="col-sm-4 col-xs-8">
                                <input name="mall_alias" type="text" class="form-control" value="<?php echo $this->setting['mall_alias']; ?>"/>
                                <div class="help-block">如：商店、集市、店铺等等</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('商城首页导航'); ?>:</span>
                            <span class="pull-right"><a href="javascript:;" class="btn btn-xs btn-primary add-mall-nav"><?php _e('新增导航'); ?></a></span>
                            <div class="col-sm-6 col-xs-8">
                                 <div class="mall-nav">
                                      <?php foreach($this->setting['mall_nav'] as $nkey => $mall_nav){?>
                                      <div class="nav">
                                            <div class="img">
                                                 <img class="preview" src="<?php echo $mall_nav['img'] ? $mall_nav['img'] : '/static/images/nopic.png'; ?>"/>
                                                 <input type="hidden" name="mall_nav[<?php echo $nkey;?>][img]" value="<?php echo $mall_nav['img']; ?>"/>
                                                 <span class="btn btn-xs btn-primary add-img">选择图片</span>
                                            </div>
                                           <div class="text">
                                                <div class="form-group name">
                                                     <span class="control-label"><?php _e('名称'); ?>:</span>
                                                     <input name="mall_nav[<?php echo $nkey;?>][name]" type="text" class="form-control" value="<?php echo $mall_nav['name']; ?>"/>
                                                </div>
                                                <div class="form-group link">
                                                     <span class="control-label"><?php _e('链接'); ?>:</span>
                                                     <input name="mall_nav[<?php echo $nkey;?>][link]" type="text" class="form-control" value="<?php echo $mall_nav['link']; ?>"/>
                                                </div>
                                           </div>
                                      </div>
                                     <?php } ?>
                                   </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <?php } else if ($_GET['category'] == 'nav') { ?>
        <div class="mod-head">
            <h3>
                <span class="pull-left"><?php _e('导航菜单'); ?></span>
                <span class="pull-right"><a href="javascript:;" onclick="MOX.ajax_post($('#settings_form'));" class="btn btn-xs btn-primary mod-site-save"><?php _e('快速保存'); ?></a></span>
            </h3>
        </div>
        <div class="tab-content mod-content">
            <table class="table table-striped">
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('PC端导航栏菜单'); ?>:</span>
                            <span class="pull-right"><a href="javascript:;" class="btn btn-xs btn-primary add-pc-nav"><?php _e('新增导航菜单'); ?></a></span>
                            <div class="col-sm-5 col-xs-8">
                                <div class="mall-nav pc-nav">
                                    <?php foreach($this->setting['pc_nav'] as $pckey => $pc_nav){?>
                                    <div class="nav">
                                        <div class="text">
                                            <div class="form-group name">
                                                <span class="control-label"><?php _e('名称'); ?>:</span>
                                                <input name="pc_nav[<?php echo $pckey;?>][name]" type="text" class="form-control" value="<?php echo $pc_nav['name']; ?>"/>
                                            </div>
                                            <div class="form-group link">
                                                <span class="control-label"><?php _e('链接'); ?>:</span>
                                                <input name="pc_nav[<?php echo $pckey;?>][link]" type="text" class="form-control" value="<?php echo $pc_nav['link']; ?>"/>
                                            </div>
                                        </div>
                                    </div>
                                    <?php } ?>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('移动端底部菜单'); ?>:</span>
                            <span class="pull-right"><a href="javascript:;" class="btn btn-xs btn-primary add-mobile-nav"><?php _e('新增导航菜单'); ?></a></span>
                            <div class="col-sm-5 col-xs-8">
                                <div class="mall-nav mobile-nav">
                                    <?php foreach($this->setting['mobile_nav'] as $nkey => $mobile_nav){?>
                                    <div class="nav">
                                        <div class="img">
                                            <img class="preview" src="<?php echo $mobile_nav['img'] ? $mobile_nav['img'] : '/static/images/nopic.png'; ?>"/>
                                            <input type="hidden" name="mobile_nav[<?php echo $nkey;?>][icon]" value="<?php echo $mobile_nav['icon'] ? $mobile_nav['icon'] : 'home'; ?>"/>
                                            <span class="btn btn-xs btn-primary add-img">选择图片</span>
                                        </div>
                                        <div class="text">
                                            <div class="form-group name">
                                                <span class="control-label"><?php _e('名称'); ?>:</span>
                                                <input name="mobile_nav[<?php echo $nkey;?>][name]" type="text" class="form-control" value="<?php echo $mobile_nav['name']; ?>"/>
                                            </div>
                                            <div class="form-group link">
                                                <span class="control-label"><?php _e('链接'); ?>:</span>
                                                <input name="mobile_nav[<?php echo $nkey;?>][link]" type="text" class="form-control" value="<?php echo $mobile_nav['link']; ?>"/>
                                            </div>
                                        </div>
                                    </div>
                                    <?php } ?>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <?php } else if ($_GET['category'] == 'integral') { ?>
        <div class="mod-head">
            <h3>
                <span class="pull-left"><?php _e('积分设置'); ?></span>
                <span class="pull-right"><a href="javascript:;" onclick="MOX.ajax_post($('#settings_form'));" class="btn btn-xs btn-primary mod-site-save"><?php _e('快速保存'); ?></a></span>
            </h3>
        </div>
        <div class="tab-content mod-content">
            <table class="table table-striped">
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('使用积分功能'); ?>:</span>
                            <div class="col-sm-6 col-xs-8">
                                <div class="btn-group mod-btn">
                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="integral_system_enabled" value="Y"<?php if ($this->setting['integral_system_enabled'] == 'Y') { ?> checked="checked"<?php } ?> /> <?php _e('是'); ?>
                                    </label>
                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="integral_system_enabled" value="N"<?php if ($this->setting['integral_system_enabled'] != 'Y') { ?> checked="checked"<?php } ?> /> <?php _e('否'); ?>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('积分单位'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="integral_unit" type="text" class="form-control" value="<?php echo $this->setting['integral_unit']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('新用户注册默认拥有积分'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="integral_system_config_register" type="text" class="form-control" value="<?php echo $this->setting['integral_system_config_register']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <?php } else if ($_GET['category'] == 'mail') { ?>
        <div class="mod-head">
            <h3>
                <span class="pull-left"><?php _e('邮件设置'); ?></span>
                <span class="pull-right"><a href="javascript:;" onclick="MOX.ajax_post($('#settings_form'));" class="btn btn-xs btn-primary mod-site-save"><?php _e('快速保存'); ?></a></span>
            </h3>
        </div>
        <div class="tab-content mod-content">
            <table class="table table-striped">
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('系统邮件发送方式'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <select class="form-control" name="mail_config[transport]">
                                    <option value="sendmail"<?php if ($this->setting['mail_config']['transport'] == 'sendmail') { ?> selected="selected"<?php } ?>><?php _e('通过 PHP 的 Sendmail 发送'); ?></option>
                                    <option value="smtp"<?php if ($this->setting['mail_config']['transport'] == 'smtp') { ?> selected="selected"<?php } ?>><?php _e('通过 SOCKET 连接 SMTP 服务器发送'); ?></option>
                                </select>
                                <div class="help-block"><?php _e('若选择 SendMail 方式, 下面的 SMTP 选项无效'); ?></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('邮件编码'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="mail_config[charset]" type="text" class="form-control" value="<?php echo $this->setting['mail_config']['charset']; ?>" />

                                <div class="help-block"><?php _e('非 UTF-8 编码会被自动转码'); ?></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('主 SMTP 服务器'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="mail_config[server]" type="text" class="form-control" value="<?php echo $this->setting['mail_config']['server']; ?>" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('使用安全链接(SSL)连接主服务器'); ?>:</span>
                            <div class="col-sm-6 col-xs-8">
                                <div class="btn-group mod-btn">
                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="mail_config[ssl]" value="1"<?php if ($this->setting['mail_config']['ssl'] == 1) { ?> checked="checked"<?php } ?> /> <?php _e('是'); ?>
                                    </label>
                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="mail_config[ssl]" value="0"<?php if ($this->setting['mail_config']['ssl'] == 0) { ?> checked="checked"<?php } ?> /> <?php _e('否'); ?>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('主 SMTP 端口'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="mail_config[port]" type="text" class="form-control" value="<?php echo $this->setting['mail_config']['port']; ?>" />

                                <div class="help-block"><?php _e('留空时默认服务器端口为 25，使用 SSL 协议默认端口为 465，详细参数请询问邮箱服务商'); ?></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('主 SMTP 帐户'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="mail_config[username]" type="text" class="form-control" value="<?php echo $this->setting['mail_config']['username']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('主 SMTP 密码'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="mail_config[password]" type="password" class="form-control" value="<?php echo $this->setting['mail_config']['password']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <?php if (!defined('IN_SAE')) { ?>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('次 SMTP 服务器'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="slave_mail_config[server]" type="text" class="form-control" value="<?php echo $this->setting['slave_mail_config']['server']; ?>" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('使用安全链接(SSL)连接次服务器'); ?>:</span>
                            <div class="col-sm-6 col-xs-8">
                                <div class="btn-group mod-btn">
                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="slave_mail_config[ssl]" value="1"<?php if ($this->setting['slave_mail_config']['ssl'] == 1) { ?> checked="checked"<?php } ?> /> <?php _e('是'); ?>
                                    </label>

                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="slave_mail_config[ssl]" value="0"<?php if ($this->setting['slave_mail_config']['ssl'] == 0) { ?> checked="checked"<?php } ?> /> <?php _e('否'); ?>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('次 SMTP 端口'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="slave_mail_config[port]" type="text" class="form-control" value="<?php echo $this->setting['slave_mail_config']['port']; ?>" />

                                <div class="help-block"><?php _e('留空时默认服务器端口为 25，使用 SSL 协议默认端口为 465，详细参数请询问邮箱服务商'); ?></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('次 SMTP 帐户'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="slave_mail_config[username]" type="text" class="form-control" value="<?php echo $this->setting['slave_mail_config']['username']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('次 SMTP 密码'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="slave_mail_config[password]" type="password" class="form-control" value="<?php echo $this->setting['slave_mail_config']['password']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <?php } ?>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('系统邮件来源邮箱地址'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="from_email" type="text" class="form-control" value="<?php echo $this->setting['from_email']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <?php } else if ($_GET['category'] == 'openid') { ?>
        <div class="mod-head">
            <h3>
                <span class="pull-left"><?php _e('开放平台'); ?></span>

                <span class="pull-right"><a href="javascript:;" onclick="MOX.ajax_post($('#settings_form'));" class="btn btn-xs btn-primary mod-site-save"><?php _e('快速保存'); ?></a></span>
            </h3>
        </div>
        <div class="tab-content mod-content">
            <table class="table table-striped">
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('开启 QQ 登录功能'); ?>:</span>
                            <div class="col-sm-6 col-xs-8">
                                <div class="btn-group mod-btn">
                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="qq_login_enabled" value="Y"<?php if ($this->setting['qq_login_enabled'] == 'Y') { ?> checked="checked"<?php } ?>/> <?php _e('是'); ?>
                                    </label>

                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="qq_login_enabled" value="N"<?php if ($this->setting['qq_login_enabled'] != 'Y') { ?> checked="checked"<?php } ?>/> <?php _e('否'); ?>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('QQ 登录 AppID'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="qq_login_app_id" type="text" class="form-control" value="<?php echo $this->setting['qq_login_app_id']; ?>"/>

                                <span class="help-block"><?php _e('AppID 与 APPKey 需要到 <a href="http://connect.qq.com/" target="_blank">QQ 互联开放平台</a> 申请 (注意: 请申请网站不要申请应用)'); ?></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('QQ 登录 AppKey'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="qq_login_app_key" type="text" class="form-control" value="<?php echo $this->setting['qq_login_app_key']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('开启微博登录功能'); ?>:</span>
                            <div class="col-sm-6 col-xs-8">
                                <div class="btn-group mod-btn">
                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="sina_weibo_enabled" value="Y"<?php if ($this->setting['sina_weibo_enabled'] == 'Y') { ?> checked="checked"<?php } ?>/> <?php _e('是'); ?>
                                    </label>

                                    <label type="button" class="btn mod-btn-color">
                                        <input type="radio" name="sina_weibo_enabled" value="N"<?php if ($this->setting['sina_weibo_enabled'] != 'Y') { ?> checked="checked"<?php } ?>/> <?php _e('否'); ?>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label textwrap"><?php _e('微博 App Key'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="sina_akey" type="text" class="form-control" value="<?php echo $this->setting['sina_akey']; ?>"/>

                                <span class="help-block"><?php _e('AppKey 需要到 <a href="http://open.weibo.com" target="_blank">微博开放平台</a> 申请 (注意: 请申请网站不要申请应用)'); ?></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label textwrap"><?php _e('微博 App Secret'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="sina_skey" type="text" class="form-control" value="<?php echo $this->setting['sina_skey']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('微信公众平台接口 Token'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="weixin_mp_token" type="text" class="form-control" value="<?php echo $this->setting['weixin_mp_token']; ?>"/>

                                <span class="help-block"><?php _e('请与微信公众平台后台设置一致，URL 为 <code>%s</code>', get_js_url('/weixin/api/')); ?></span>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('微信公众平台接口 EncodingAESKey'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input type="text" class="form-control" name="weixin_encoding_aes_key" value="<?php echo $this->setting['weixin_encoding_aes_key']; ?>">
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('微信公众平台帐号角色'); ?>:</span>
                            <div class="col-sm-8 col-xs-8">
                                <label class="checkbox-inline"><input type="radio" name="weixin_account_role" value="base"<?php if (!$this->setting['weixin_account_role'] OR $this->setting['weixin_account_role'] == 'base') { ?> checked="checked"<?php } ?> /> <?php _e('普通订阅号'); ?></label>
                            <label class="checkbox-inline"><input type="radio" name="weixin_account_role" value="subscription"<?php if ($this->setting['weixin_account_role'] == 'subscription') { ?> checked="checked"<?php } ?> /> <?php _e('微信认证订阅号'); ?></label>
                            <label class="checkbox-inline"><input type="radio" name="weixin_account_role" value="general"<?php if ($this->setting['weixin_account_role'] == 'general') { ?> checked="checked"<?php } ?> /> <?php _e('普通服务号'); ?></label>
                            <label class="checkbox-inline"><input type="radio" name="weixin_account_role" value="service"<?php if ($this->setting['weixin_account_role'] == 'service') { ?> checked="checked"<?php } ?> /> <?php _e('微信认证服务号'); ?></label>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('微信公众平台 AppID'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="weixin_app_id" type="text" class="form-control" value="<?php echo $this->setting['weixin_app_id']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('微信公众平台 AppSecret'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="weixin_app_secret" type="text" class="form-control" value="<?php echo $this->setting['weixin_app_secret']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <?php if (check_extension_package('payment')) { ?>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label textwrap"><?php _e('支付宝账号'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="alipay_seller_email" type="text" class="form-control" value="<?php echo $this->setting['alipay_seller_email']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label textwrap"><?php _e('支付宝合作身份者 ID'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="alipay_partner" type="text" class="form-control" value="<?php echo $this->setting['alipay_partner']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label textwrap"><?php _e('支付宝安全检验码'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="alipay_key" type="text" class="form-control" value="<?php echo $this->setting['alipay_key']; ?>"/>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('支付宝签名方式'); ?>:</span>
                            <div class="col-sm-8 col-xs-8">
                                <label class="checkbox-inline"><input type="radio" name="alipay_sign_type" value="MD5"<?php if (!$this->setting['alipay_sign_type'] OR $this->setting['alipay_sign_type'] == 'MD5') { ?> checked="checked"<?php } ?> /> MD5</label>
                                <label class="checkbox-inline"><input type="radio" name="alipay_sign_type" value="RSA"<?php if ($this->setting['alipay_sign_type'] == 'RSA') { ?> checked="checked"<?php } ?> /> RSA</label>
                                <label class="checkbox-inline"><input type="radio" name="alipay_sign_type" value="0001"<?php if ($this->setting['alipay_sign_type'] == '0001') { ?> checked="checked"<?php } ?> /> 0001</label>

                                <span class="help-block"><?php _e('如不确定请勿更改'); ?></span>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('支付宝字符编码格式'); ?>:</span>
                            <div class="col-sm-8 col-xs-8">
                                <label class="checkbox-inline"><input type="radio" name="alipay_input_charset" value="utf-8"<?php if (!$this->setting['alipay_input_charset'] OR $this->setting['alipay_input_charset'] == 'utf-8') { ?> checked="checked"<?php } ?> /> UTF-8</label>
                                <label class="checkbox-inline"><input type="radio" name="alipay_input_charset" value="gbk"<?php if ($this->setting['alipay_input_charset'] == 'gbk') { ?> checked="checked"<?php } ?> /> GBK</label>

                                <span class="help-block"><?php _e('不建议更改'); ?></span>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('支付宝访问模式'); ?>:</span>
                            <div class="col-sm-8 col-xs-8">
                                <label class="checkbox-inline"><input type="radio" name="alipay_transport" value="https"<?php if (!$this->setting['alipay_transport'] OR $this->setting['alipay_transport'] == 'https') { ?> checked="checked"<?php } ?> /> HTTPS</label>
                                <label class="checkbox-inline"><input type="radio" name="alipay_transport" value="http"<?php if ($this->setting['alipay_transport'] == 'http') { ?> checked="checked"<?php } ?> /> HTTP</label>

                                <span class="help-block"><?php _e('如服务器不支持 SSL 请改为 HTTP'); ?></span>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('支付宝商户私钥'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <textarea class="form-control textarea" rows="6" name="alipay_private_key"><?php echo $this->setting['alipay_private_key']; ?></textarea>

                                <span class="help-block"><?php _e('支付宝签名方式为 RSA 或 0001 时必须设置'); ?></span>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('支付宝公钥'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <textarea class="form-control textarea" rows="6" name="alipay_ali_public_key"><?php echo $this->setting['alipay_ali_public_key']; ?></textarea>

                                <span class="help-block"><?php _e('支付宝签名方式为 RSA 或 0001 时必须设置'); ?></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <?php } ?>
            </table>
        </div>
        <?php } else if ($_GET['category'] == 'cache') { ?>
        <div class="mod-head">
            <h3>
                <span class="pull-left"><?php _e('性能优化'); ?></span>
                <span class="pull-right"><a href="javascript:;" onclick="MOX.ajax_post($('#settings_form'));" class="btn btn-xs btn-primary mod-site-save"><?php _e('快速保存'); ?></a></span>
            </h3>
        </div>
        <div class="tab-content mod-content">
            <table class="table table-striped">
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('高级别缓存时间'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="cache_level_high" type="text" class="form-control" value="<?php echo $this->setting['cache_level_high']; ?>"/>

                                <span class="help-block"><?php _e('单位:秒'); ?></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('普通级别缓存时间'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="cache_level_normal" type="text" class="form-control" value="<?php echo $this->setting['cache_level_normal']; ?>"/>

                                <span class="help-block"><?php _e('单位:秒'); ?></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('低级别缓存时间'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <input name="cache_level_low" type="text" class="form-control" value="<?php echo $this->setting['cache_level_low']; ?>"/>

                                <span class="help-block"><?php _e('单位:秒'); ?></span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <?php } else if ($_GET['category'] == 'interface') { ?>
        <div class="mod-head">
            <h3>
                <span class="pull-left"><?php _e('界面设置'); ?></span>

                <span class="pull-right"><a href="javascript:;" onclick="MOX.ajax_post($('#settings_form'));" class="btn btn-xs btn-primary mod-site-save"><?php _e('快速保存'); ?></a></span>
            </h3>
        </div>
        <div class="tab-content mod-content">
            <table class="table table-striped">
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="col-sm-4 col-xs-3 control-label"><?php _e('用户界面风格'); ?>:</span>
                            <div class="col-sm-5 col-xs-8">
                                <select class="form-control" name="ui_style">
                                <?php foreach($this->styles as $skey => $val) { ?>
                                    <option value="<?php echo $val['id']; ?>"<?php if ($this->setting['ui_style'] == $val['id']) { ?> selected="selected"<?php } ?>><?php echo $val['title']; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <?php } ?>
        <div class="tab-content mod-content mod-one-btn">
            <div class="center-block">
                <input type="button" value="<?php _e('保存设置'); ?>" class="btn btn-primary" onclick="MOX.ajax_post($('#settings_form'));" />
            </div>
        </div>
    </div>
    </form>
</div>

<?php TPL::output('backend/global/footer.tpl.htm'); ?>