<?php TPL::output('global/header.tpl.htm'); ?>
<div class='fui-page fui-page-current'>
    <div class="fui-header">
		<div class="fui-header-left">
			<a class="back" onclick='location.back()'></a>
		</div>
		<div class="title">会员中心</div>
		<div class="fui-header-right"></div>
	</div>

	<div class='fui-content member-page navbar'>
		<div style="overflow: hidden;height: 7.5rem;position: relative;background: #fff">
			<div class="headinfo" style="z-index:100;border: none;">
				<a class="setbtn" href="{php echo mobileUrl('member/info')}" data-nocache='true'><i class="icon icon-shezhi"></i></a>
				<div class="child">
					<div class="title">余额</div>
					<div class="num">￥1090</div>
					<a href="{php echo mobileUrl('member/recharge')}"><div class="btn">充值</div></a>
				</div>
				<div class="child userinfo">
					<a href="{php echo mobileUrl('member/info/face')}" data-nocache="true" style="color: white;">
						<div class="face"><img src="http://www.moxquan.com/static/avatar/3.gif" onerror="this.src=''"/></div>
						<div class="name">阿呆</div>
					</a>
					<div class="level">
					[金甲会员]
					<i class='icon icon-question1' style='font-size:0.65rem'></i>
				</div>
			</div>
			<div class="child">
				<div class="title">积分</div>
				<div class="num">998009</div>
				<a href="{php echo mobileUrl('creditshop')}" class="external"><div class="btn">兑换</div></a>
			</div>
		</div>
		<div class="member_header"></div>
		</div>

	<div class="fui-cell-group fui-cell-click" style="margin-top: 0">
		<a class="fui-cell external" href="{php echo mobileUrl('order')}">
			<div class="fui-cell-icon"><i class="icon icon-dingdan1"></i></div>
			<div class="fui-cell-text">我的订单</div>
			<div class="fui-cell-remark" style="font-size: 0.65rem;">查看全部订单</div>
		</a>
		<div class="fui-icon-group selecter">
			<a class="fui-icon-col external" href="{php echo mobileUrl('order',array('status'=>0))}">
				<div class="badge">99</div>
				<div class="icon icon-green radius"><i class="icon icon-daifukuan1"></i></div>
				<div class="text">待付款</div>
			</a>
			<a class="fui-icon-col external" href="{php echo mobileUrl('order',array('status'=>1))}">
				<div class="badge">82</div>
				<div class="icon icon-orange radius"><i class="icon icon-daifahuo1"></i></div>
				<div class="text">待发货</div>
			</a>
			<a class="fui-icon-col external" href="{php echo mobileUrl('order',array('status'=>2))}">
				<div class="badge">27</div>
				<div class="icon icon-blue radius"><i class="icon icon-daishouhuo1"></i></div>
				<div class="text">待收货</div>
			</a>
			<a class="fui-icon-col external" href="{php echo mobileUrl('order',array('status'=>4))}">
				<div class="badge">1</div>
				<div class="icon icon-pink radius"><i class="icon icon-daituikuan2"></i></div>
				<div class="text">退换货</div>
			</a>
		</div>
	</div>
			<div class="fui-cell-group fui-cell-click external">
				<a class="fui-cell"  href="{php echo mobileUrl('member/bind')}">
					<div class="fui-cell-text">
						<i class="icon icon-shouji" style="color: #666;"></i>
							绑定手机号
						<div class="fui-cell-tip">如果您用手机号注册过会员或您想通过微信外购物请绑定您的手机号码</div>
					</div>
					<div class="fui-cell-remark"></div>
				</a>
			</div>
	<div class="fui-cell-group fui-cell-click">
		<a class="fui-cell external" href="{php echo mobileUrl('newstore/norder')}">
			<div class="fui-cell-icon"><i class="icon icon-list"></i></div>
			<div class="fui-cell-text">我的预约</div>
			<div class="fui-cell-remark" style="font-size: 0.65rem;">查看全部预约</div>
		</a>
		<div class="fui-icon-group selecter">
			<a class="fui-icon-col external" href="{php echo mobileUrl('newstore/norder',array('status'=>0))}">
				<div class="badge">3223</div>
				<div class="icon icon-green radius"><i class="icon icon-pay"></i></div>
				<div class="text">待付款</div>
			</a>
			<a class="fui-icon-col external" href="{php echo mobileUrl('newstore/norder',array('status'=>1))}">
				<div class="badge">35</div>
				<div class="icon icon-orange radius"><i class="icon icon-like"></i></div>
				<div class="text">待使用</div>
			</a>
			<a class="fui-icon-col external" href="{php echo mobileUrl('newstore/norder',array('status'=>3))}">
				<div class="badge">9</div>
				<div class="icon icon-blue radius"><i class="icon icon-discover"></i></div>
				<div class="text">已完成</div>
			</a>
			<a class="fui-icon-col external" href="{php echo mobileUrl('newstore/norder',array('status'=>4))}">
				<div class="badge">7</div>
				<div class="icon icon-pink radius"><i class="icon icon-remind"></i></div>
				<div class="text">取消预约</div>
			</a>
		</div>
	</div>


	<div class="fui-cell-group fui-cell-click">
		<a class="fui-cell"  href="{php echo mobileUrl('task')}">
			<div class="fui-cell-icon"><i class="icon icon-hexiaoshangpin"></i></div>
			<div class="fui-cell-text"><p>任务中心</p></div>
			<div class="fui-cell-remark"></div>
		</a>
	</div>
	<div class="fui-cell-group fui-cell-click">
		<a class="fui-cell" href="{php echo mobileUrl('sign')}">
			<div class="fui-cell-icon"><i class="icon icon-qiandao"></i></div>
			<div class="fui-cell-text"><p>每日签到</p></div>
			<div class="fui-cell-remark"></div>
		</a>
	</div>
		<div class="fui-cell-group fui-cell-click">

			<a class="fui-cell" href="{php echo mobileUrl('sale/coupon')}">
				<div class="fui-cell-icon"><i class="icon icon-lingquyouhuiquan1"></i></div>
				<div class="fui-cell-text"><p>领优惠券</p></div>
				<div class="fui-cell-remark">
					<span class="badge">8</span>
				</div>
			</a>

			<a class="fui-cell"  href="{php echo mobileUrl('sale/coupon/my')}">
				<div class="fui-cell-icon"><i class="icon icon-wodeyouhuiquan"></i></div>
				<div class="fui-cell-text"><p>我的优惠券</p></div>
				<div class="fui-cell-remark"><span style="background: #fe5455;color:#fff" class='badge'>new</span>
				</div>
			</a>
		</div>

	    <div class="fui-cell-group fui-cell-click">
			<a class="fui-cell" href="{php echo mobileUrl('member/cart');}">
				<div class="fui-cell-icon"><i class="icon icon-cart"></i></div>
				<div class="fui-cell-text"><p>我的购物车</p></div>
				<div class="fui-cell-remark"><span class='badge'>44</span></div>
			</a>
			<a class="fui-cell" href="{php echo mobileUrl('member/favorite');}">
				<div class="fui-cell-icon"><i class="icon icon-like"></i></div>
				<div class="fui-cell-text"><p>我的关注</p></div>
				<div class="fui-cell-remark"><span class='badge'>99</span></div>
			</a>

			<a class="fui-cell" href="{php echo mobileUrl('member/history');}">
				<div class="fui-cell-icon"><i class="icon icon-footprint"></i></div>
				<div class="fui-cell-text"><p>我的足迹</p></div>
				<div class="fui-cell-remark"></div>
			</a>
			<a class="fui-cell" href="{php echo mobileUrl('member/notice');}" data-nocache="true">
				<div class="fui-cell-icon"><i class="icon icon-notice"></i></div>
				<div class="fui-cell-text"><p>消息设置</p></div>
				<div class="fui-cell-remark"></div>
			</a>
		</div>
	  
		<div class="fui-cell-group fui-cell-click">
			<a class="fui-cell" href="{php echo mobileUrl('member/log')}">
				<div class="fui-cell-icon"><i class="icon icon-xiaofei"></i></div>
				<div class="fui-cell-text"><p>余额明细</p></div>
				<div class="fui-cell-remark"></div>
			</a>
		</div>
		<div class="fui-cell-group fui-cell-click">
			<a class="fui-cell" href="{php echo mobileUrl('member/address')}">
				<div class="fui-cell-icon"><i class="icon icon-dingwei1"></i></div>
				<div class="fui-cell-text"><p>收货地址管理</p></div>
				<div class="fui-cell-remark"></div>
			</a>
		</div>
		<div class="fui-cell-group fui-cell-click">
			<a class="fui-cell" href="{php echo mobileUrl('qa')}">
				<div class="fui-cell-icon"><i class="icon icon-bangzhu1"></i></div>
				<div class="fui-cell-text"><p>帮助中心</p></div>
				<div class="fui-cell-remark"></div>
			</a>
		</div>
	<div class="fui-cell-group fui-cell-click transparent">
		<a class="fui-cell external changepwd" href="">
			<div class="fui-cell-text" style="text-align: center;"><p>修改密码</p></div>
		</a>
		<a class="fui-cell external btn-logout" href="/user/logout/">
			<div class="fui-cell-text" style="text-align: center;"><p>退出登录</p></div>
		</a>
	</div>
	</div>
	<script language='javascript'>
		require(['biz/member/index'], function (modal) {
			modal.init();
		});
	</script>
</div>

<script  language='javascript'>
	var lis = $('.banner-ul').find('li');
	$('.banner-ul').width(lis.length*8.3+'rem');

	function addCard(card_id,code) {

		var data = {'openid': '{php echo $_W["openid"]}', 'card_id': card_id, 'code': code};
		$.ajax({
			url: "{php echo mobileUrl('sale/coupon/getsignature')}",
			data: data,
			cache: false
		}).done(function (result) {
			var data = jQuery.parseJSON(result);
			if (data.status == 1) {
				wx.addCard({
					cardList: [
						{
							cardId: card_id,
							cardExt: data.result.cardExt
						}
					],
					success: function (res) {
						//alert('已添加卡券：' + JSON.stringify(res.cardList));
					},
					cancel: function (res) {
						//alert(JSON.stringify(res))
					}
				});
			} else {
				alert("微信接口繁忙,请稍后再试!");
				alert(data.result.message);
			}
		});
	}

</script>

<?php TPL::output('global/footer.tpl.htm'); ?>