<?php TPL::output('global/header.tpl.htm'); ?>
<script>hljs.initHighlightingOnLoad();</script>

<div class="container clearfix">
    <div class="row">
        <?php TPL::output('user/sidebar.tpl.htm');?>
        <div class="col-md-9 my-right">
            <div class="card">
                <div class="card-header create-feeds">发表动态</div>
                <div class="card-body">
                    <div class="of c9 border-bottom pb-3">
                        <div class="create-feed">
                            <p class="create-title">有什么关于模型的新鲜事分享一下？</p>
                            <div class="editor" name="feed" contenteditable="true"></div>
                            <div class="tools clearfix">
                                <button title="插入表情" class="show_emoji edui-my-default"></button>
                                <button id="upload" title="插入图片" class="edui-icon-image edui-my-default" title="上传图片"></button>
                            </div>
                            <div class="upload clearfix">
                                <input id="feed_upload_pic" name="file" type="file" size="10"/>
                                <div class="upload-pic-list clearfix" id="pic_preview">
                                </div>
                                <label class="icon-plus" for="feed_upload_pic" id="upload_label"></label>
                            </div>
                        </div>
                        <a id="do_create" class="do-create-feed" href="javascript:;">发表</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        // 图片上传
        $("#feed_upload_pic").on("change", function(e) {
            var file = e.target.files[0];

            // 只选择图片文件
            if(!file.type.match('image.*')) {
                return false;
            }

            var reader = new FileReader();
            reader.readAsDataURL(file);

            // 上传、渲染文件
            reader.onload = function(arg) {
                var filename = arg.target.result;

                $.ajax({
                    type: "POST",
                    url: "<?php echo G_DEMAIN;?>/common/upload/do/",
                    enctype: 'multipart/form-data',
                    dataType: 'json',
                    data: {
                        file: filename
                    },
                    success: function (data) {
                        if (data.errno == '1') {
                            var img = '<img src="' + data.rsm + '"/>';
                            $("#pic_preview").append(img);
                        } else {
                            alert(data.err)
                        }
                    }
                });
            }
        });

        // 上传图片
        $('#upload').click(function(){
            if ($('.upload').css('display') == 'block') {
                $('.upload').css('display', 'none');
            } else {
                $('.upload').css('display', 'block');
            }
        });

        // 确认发布
        $('#do_create').click(function(){
            var content = $('.editor').html();
            var pic = $('#pic_preview').find('img');
            var pic_list = '';
            pic.each(function(){
                if (pic_list.length > 1) {
                    pic_list = pic_list + ',' + $(this).attr("src")
                } else {
                    pic_list = $(this).attr("src");
                }
            })

            $.ajax({
                type: "post",
                url: "<?php echo G_DEMAIN;?>/feed/ajax/create/",
                data: {content:content, pic:pic_list},
                dataType: "json",
                success: function(data){
                    if (data.errno == '1') {
                        alert('发表成功！');
                        window.location.reload();
                    } else {
                        alert(data.err);
                    }
                }
            });
        });
</script>
<?php TPL::output('global/footer.tpl.htm'); ?>