<div class="col-md-3">
    <div class="my_left">
        <div class="card">
            <div class="card-body">
                <div class="user_info">
                    <div class="photo"><img class="rounded-circle" src="<?php echo G_DEMAIN.$this->user_info['avatar'];?>" width="36"></div>
                    <div class="info">
                        <div class="username"><?php echo $this->user_info['user_name'];?></div>
                        <div class="text-black-50 fs12"><span class="honor"><?php echo $this->honor;?></span>，<?php echo intval($this->user_info['point']);?>积分</div>
                    </div>
                </div>
                <div class="menu-mod clearfix mt-3">
                    <ul class="menus">
                        <li><a <?php if($this->active=='home'):?>class="active"<?php endif;?> href="<?php echo G_DEMAIN;?>/user/home/">我的动态</a></li>
                        <li><a href="<?php echo G_DEMAIN;?>/follow/index/">我的关注</a></li>
                        <li><a href="<?php echo G_DEMAIN;?>/favorite/index/">我的收藏</a></li>
                    </ul>
                    <hr>
                    <ul class="menus">
                        <li><a href="<?php echo G_DEMAIN;?>/message/index/">消息盒子<span class="msg-unread"><?php echo $this->unread_msg;?></span></a></li>
                        <li><a href="<?php echo G_DEMAIN;?>/points/index/">积分明细</a></li>
                    </ul>
                    <hr>
                    <ul class="menus">
                        <li><a <?php if($this->active=='setting'):?>class="active"<?php endif;?> href="<?php echo G_DEMAIN;?>/user/setting/info/">账户设置</a></li>
                        <li><a <?php if($this->active=='avatar'):?>class="active"<?php endif;?> href="<?php echo G_DEMAIN;?>/user/setting/avatar/">设置头像</a></li>
                        <li><a <?php if($this->active=='password'):?>class="active"<?php endif;?> href="<?php echo G_DEMAIN;?>/user/setting/password/">修改密码</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
